In [37]:
import pandas as pd

In [38]:
# Load the CSV files for January and February 2023 
jan_data = pd.read_csv('Resources/202401-citibike-tripdata.csv')
feb_data = pd.read_csv('Resources/202402-citibike-tripdata.csv')

/var/folders/w1/kv9m74sx7rn3jh6fkm7wrzrc0000gp/T/ipykernel_14852/1028890401.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  jan_data = pd.read_csv('Resources/202401-citibike-tripdata.csv')
/var/folders/w1/kv9m74sx7rn3jh6fkm7wrzrc0000gp/T/ipykernel_14852/1028890401.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  feb_data = pd.read_csv('Resources/202402-citibike-tripdata.csv')

In [39]:
jan_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5078F3D302000BD2,electric_bike,2024-01-22 18:43:19.012,2024-01-22 18:48:10.708,Frederick Douglass Blvd & W 145 St,7954.12,St Nicholas Ave & W 126 St,7756.10,40.823072,-73.941738,40.811432,-73.951878,member
1,814337105D37302A,electric_bike,2024-01-11 19:19:18.721,2024-01-11 19:47:36.007,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761822,-73.977036,40.768974,-73.954823,member
2,A33A920E2B10710C,electric_bike,2024-01-30 19:17:41.693,2024-01-30 19:32:49.857,E 11 St & Ave B,5659.11,W 10 St & Washington St,5847.06,40.727592,-73.979751,40.733424,-74.008515,casual
3,A3A5FC0DD7D34D74,electric_bike,2024-01-27 11:27:01.759,2024-01-27 11:38:01.213,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761779,-73.977144,40.768974,-73.954823,member
4,6F96728ECEFBDAA4,electric_bike,2024-01-16 15:15:41.000,2024-01-16 15:29:26.156,Madison Ave & E 99 St,7443.01,E 74 St & 1 Ave,6953.08,40.789808,-73.952214,40.768974,-73.954823,member

In [40]:
jan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1888085 entries, 0 to 1888084
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 187.3+ MB

In [41]:
feb_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,B2B980E0EAE1D6F1,classic_bike,2024-02-25 20:25:40.894,2024-02-25 20:43:58.504,Greenwich St & Hubert St,5470.10,Hudson Blvd W & W 36 St,6611.07,40.721319,-74.010065,40.756765,-73.999714,member
1,1069DDA1FED20568,classic_bike,2024-02-21 22:21:38.446,2024-02-21 22:40:12.259,Greenwich St & Hubert St,5470.10,Hudson Blvd W & W 36 St,6611.07,40.721319,-74.010065,40.756765,-73.999714,member
2,B58850AF6F2D8BD5,electric_bike,2024-02-14 08:31:14.609,2024-02-14 08:42:30.427,Mercer St & Bleecker St,5679.05,W 20 St & 10 Ave,6306.01,40.727068,-73.996554,40.745686,-74.005141,member
3,D46E6C5A69048E11,electric_bike,2024-02-05 08:42:25.999,2024-02-05 08:56:26.899,E 20 St & FDR Dr,5886.13,E 74 St & 1 Ave,6953.08,40.733155,-73.975561,40.768974,-73.954823,member
4,707AF4CF2C7834C2,electric_bike,2024-02-08 11:13:15.969,2024-02-08 11:18:44.259,E 20 St & FDR Dr,5886.13,Pitt St & Stanton St,5406.04,40.733184,-73.975525,40.719261,-73.981780,member

In [42]:
feb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2121501 entries, 0 to 2121500
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 210.4+ MB

In [43]:
feb_data.describe()

          start_lat     start_lng       end_lat       end_lng
count  2.121501e+06  2.121501e+06  2.120894e+06  2.120894e+06
mean   4.073857e+01 -7.397242e+01  4.073845e+01 -7.397259e+01
std    3.965733e-02  2.783383e-02  3.954262e-02  2.782619e-02
min    4.063331e+01 -7.402688e+01  4.057000e+01 -7.419000e+01
25%    4.071492e+01 -7.399191e+01  4.071495e+01 -7.399193e+01
50%    4.073822e+01 -7.397999e+01  4.073805e+01 -7.398014e+01
75%    4.076141e+01 -7.395681e+01  4.076123e+01 -7.395698e+01
max    4.089000e+01 -7.384961e+01  4.092000e+01 -7.378000e+01

In [44]:
# Check for missing values 
jan_data.isnull().sum()
feb_data.isnull().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name    1866
start_station_id      1866
end_station_name      4768
end_station_id        4788
start_lat                0
start_lng                0
end_lat                607
end_lng                607
member_casual            0
dtype: int64

In [45]:
# Calculate the total number of rows in each dataset
total_rows_jan = len(jan_data)
total_rows_feb = len(feb_data)

# Calculate the number of rows with missing data in each dataset
missing_rows_jan = jan_data[jan_data.isnull().any(axis=1)].shape[0]
missing_rows_feb = feb_data[feb_data.isnull().any(axis=1)].shape[0]

# Calculate the percentage of missing data
percent_missing_jan = (missing_rows_jan / total_rows_jan) * 100
percent_missing_feb = (missing_rows_feb / total_rows_feb) * 100

print(f"Percentage of rows with missing data in January dataset: {percent_missing_jan:.2f}%")
print(f"Percentage of rows with missing data in February dataset: {percent_missing_feb:.2f}%")

Percentage of rows with missing data in January dataset: 0.32%
Percentage of rows with missing data in February dataset: 0.26%

In [46]:
# Remove all rows with missing values 
## Remove rows with missing values in January dataset
jan_data_cleaned = jan_data.dropna()

## Remove rows with missing values in February dataset
feb_data_cleaned = feb_data.dropna()

In [47]:
# Identify duplicate rows 
jan_data.drop_duplicates(inplace=True)
feb_data.drop_duplicates(inplace=True)

In [48]:
# Check new row counts 

print(f"Original January dataset rows: {len(jan_data)}")
print(f"Cleaned January dataset rows: {len(jan_data_cleaned)}")
print(f"Original February dataset rows: {len(feb_data)}")
print(f"Cleaned February dataset rows: {len(feb_data_cleaned)}")

Original January dataset rows: 1888085
Cleaned January dataset rows: 1881977
Original February dataset rows: 2121501
Cleaned February dataset rows: 2115989

In [49]:
# Standarize Station Coordinates 
station_coords = jan_data.groupby('start_station_name')[['start_lat', 'start_lng']].mean().reset_index()
jan_data = jan_data.merge(station_coords, on='start_station_name', suffixes=('', '_standardized'))

In [50]:
# Repeat for feb_data 
feb_station_coords = feb_data.groupby('start_station_name')[['start_lat', 'start_lng']].mean().reset_index()
feb_data = feb_data.merge(station_coords, on='start_station_name', suffixes=('', '_standardized'))

In [51]:
# Convert Data Types
jan_data['started_at'] = pd.to_datetime(jan_data['started_at'])
jan_data['ended_at'] = pd.to_datetime(jan_data['ended_at'])
feb_data['started_at'] = pd.to_datetime(feb_data['started_at'])
feb_data['ended_at'] = pd.to_datetime(feb_data['ended_at'])

In [52]:
# Add Temporal columns for analysis 
jan_data['day'] = jan_data['started_at'].dt.day
jan_data['month'] = jan_data['started_at'].dt.month
jan_data['hour'] = jan_data['started_at'].dt.hour
jan_data['weekday'] = jan_data['started_at'].dt.dayofweek
jan_data['end_day'] = jan_data['ended_at'].dt.day
jan_data['end_month'] = jan_data['ended_at'].dt.month
jan_data['end_hour'] = jan_data['ended_at'].dt.hour
jan_data['end_weekday'] = jan_data['ended_at'].dt.dayofweek

In [53]:
# Repeat for February
feb_data['day'] = feb_data['started_at'].dt.day
feb_data['month'] = feb_data['started_at'].dt.month
feb_data['hour'] = feb_data['started_at'].dt.hour
feb_data['weekday'] = feb_data['started_at'].dt.dayofweek
feb_data['end_day'] = feb_data['ended_at'].dt.day
feb_data['end_month'] = feb_data['ended_at'].dt.month
feb_data['end_hour'] = feb_data['ended_at'].dt.hour
feb_data['end_weekday'] = feb_data['ended_at'].dt.dayofweek

In [54]:
# Calculate trip duration 
# Calculate trip duration in minutes
jan_data['trip_duration_minutes'] = ((jan_data['ended_at'] - jan_data['started_at']).dt.total_seconds() / 60).round()

# Verify the new column
jan_data[['started_at', 'ended_at', 'trip_duration_minutes']].head()

               started_at                ended_at  trip_duration_minutes
0 2024-01-22 18:43:19.012 2024-01-22 18:48:10.708                    5.0
1 2024-01-11 19:19:18.721 2024-01-11 19:47:36.007                   28.0
2 2024-01-30 19:17:41.693 2024-01-30 19:32:49.857                   15.0
3 2024-01-27 11:27:01.759 2024-01-27 11:38:01.213                   11.0
4 2024-01-16 15:15:41.000 2024-01-16 15:29:26.156                   14.0

In [55]:
# Calculate trip duration 
# Calculate trip duration in minutes
feb_data['trip_duration_minutes'] = ((feb_data['ended_at'] - feb_data['started_at']).dt.total_seconds() / 60).round()

# Verify the new column
feb_data[['started_at', 'ended_at', 'trip_duration_minutes']].head()

               started_at                ended_at  trip_duration_minutes
0 2024-02-25 20:25:40.894 2024-02-25 20:43:58.504                   18.0
1 2024-02-21 22:21:38.446 2024-02-21 22:40:12.259                   19.0
2 2024-02-14 08:31:14.609 2024-02-14 08:42:30.427                   11.0
3 2024-02-05 08:42:25.999 2024-02-05 08:56:26.899                   14.0
4 2024-02-08 11:13:15.969 2024-02-08 11:18:44.259                    5.0

In [56]:
jan_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,start_lng_standardized,day,month,hour,weekday,end_day,end_month,end_hour,end_weekday,trip_duration_minutes
0,5078F3D302000BD2,electric_bike,2024-01-22 18:43:19.012,2024-01-22 18:48:10.708,Frederick Douglass Blvd & W 145 St,7954.12,St Nicholas Ave & W 126 St,7756.10,40.823072,-73.941738,...,-73.941818,22,1,18,0,22,1,18,0,5.0
1,814337105D37302A,electric_bike,2024-01-11 19:19:18.721,2024-01-11 19:47:36.007,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761822,-73.977036,...,-73.977302,11,1,19,3,11,1,19,3,28.0
2,A33A920E2B10710C,electric_bike,2024-01-30 19:17:41.693,2024-01-30 19:32:49.857,E 11 St & Ave B,5659.11,W 10 St & Washington St,5847.06,40.727592,-73.979751,...,-73.979579,30,1,19,1,30,1,19,1,15.0
3,A3A5FC0DD7D34D74,electric_bike,2024-01-27 11:27:01.759,2024-01-27 11:38:01.213,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761779,-73.977144,...,-73.977302,27,1,11,5,27,1,11,5,11.0
4,6F96728ECEFBDAA4,electric_bike,2024-01-16 15:15:41.000,2024-01-16 15:29:26.156,Madison Ave & E 99 St,7443.01,E 74 St & 1 Ave,6953.08,40.789808,-73.952214,...,-73.952343,16,1,15,1,16,1,15,1,14.0

In [57]:
jan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1886925 entries, 0 to 1886924
Data columns (total 24 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ride_id                 object
 1   rideable_type           object
 2   started_at              datetime64[ns]
 3   ended_at                datetime64[ns]
 4   start_station_name      object
 5   start_station_id        object
 6   end_station_name        object
 7   end_station_id          object
 8   start_lat               float64
 9   start_lng               float64
 10  end_lat                 float64
 11  end_lng                 float64
 12  member_casual           object
 13  start_lat_standardized  float64
 14  start_lng_standardized  float64
 15  day                     int32
 16  month                   int32
 17  hour                    int32
 18  weekday                 int32
 19  end_day                 int32
 20  end_month               int32
 21  end_hour                int32
 22  end_weekday             int32
 23  trip_duration_minutes   float64
dtypes: datetime64[ns](2), float64(7), int32(8), object(7)
memory usage: 287.9+ MB

In [58]:
# Combine January and February data
winter_data = pd.concat([jan_data, feb_data], ignore_index=True)

In [59]:
nunique_start_names = winter_data['start_station_name'].nunique()
nunique_end_names = winter_data['end_station_name'].nunique()
nunique_start_ids = winter_data['start_station_id'].nunique()
nunique_end_ids = winter_data['end_station_id'].nunique()

print(f"Unique start station IDs: {nunique_start_ids}")
print(f"Unique end station IDs: {nunique_end_ids}")
print(f"Unique start station names: {nunique_start_names}")
print(f"Unique end station names: {nunique_end_names}")

Unique start station IDs: 4255
Unique end station IDs: 2962
Unique start station names: 2128
Unique end station names: 2187

In [60]:
# Standardize start_station_id and end_station_id by keeping only the part before the decimal point
winter_data['start_station_id'] = winter_data['start_station_id'].astype(str).str.split('.').str[0]
winter_data['end_station_id'] = winter_data['end_station_id'].astype(str).str.split('.').str[0]

# Check for consistency to confirm that each station name corresponds to a unique station ID
# Group by start_station_name and count unique start_station_id
inconsistencies = winter_data.groupby('start_station_name')['start_station_id'].nunique()
inconsistent_stations = inconsistencies[inconsistencies > 1]

# Display any inconsistent stations
if not inconsistent_stations.empty:
    print("Inconsistent mappings found:")
    print(inconsistent_stations)
else:
    print("All station names are consistently mapped to unique station IDs.")

All station names are consistently mapped to unique station IDs.

In [61]:
# Check for uniqueness by verifying the number of unique station IDs
unique_start_ids = winter_data['start_station_id'].nunique()
unique_end_ids = winter_data['end_station_id'].nunique()
unique_start_names = winter_data['start_station_name'].nunique()
unique_end_names = winter_data['end_station_name'].nunique()

print(f"Unique start station IDs: {unique_start_ids}")
print(f"Unique end station IDs: {unique_end_ids}")
print(f"Unique start station names: {unique_start_names}")
print(f"Unique end station names: {unique_end_names}")

Unique start station IDs: 1789
Unique end station IDs: 1840
Unique start station names: 2128
Unique end station names: 2187

In [62]:
# Group by start_station_id and count the unique start_station_names associated with each ID
station_id_to_names = winter_data.groupby('start_station_id')['start_station_name'].nunique()

# Filter for station IDs that have more than one unique station name associated with them
inconsistent_station_ids = station_id_to_names[station_id_to_names > 1]

# Display inconsistent station IDs and the names associated with them
if not inconsistent_station_ids.empty:
    print("Station IDs with multiple associated station names:")
    for station_id in inconsistent_station_ids.index:
        names = winter_data[winter_data['start_station_id'] == station_id]['start_station_name'].unique()
        print(f"Station ID {station_id} has multiple names: {names}")
else:
    print("All station IDs are consistently mapped to single station names.")

Station IDs with multiple associated station names:
Station ID 3019 has multiple names: ['65 St & 2 Ave' 'Keegan Rd & 2 Ave']
Station ID 3113 has multiple names: ['Rugby Rd & Beverley Rd' 'Stratford Rd & Beverley Rd']
Station ID 3148 has multiple names: ['E 17 St & Beverley Rd' 'E 19 St & Beverley Rd']
Station ID 3180 has multiple names: ['Albemarle Rd & E 21 St' 'Beverley Rd & Flatbush Ave']
Station ID 3300 has multiple names: ['Snyder Ave & Schenectady Ave' 'E 49 St & Church Ave']
Station ID 3359 has multiple names: ['Linden Blvd & Nostrand Ave' 'Church Ave & Nostrand Ave']
Station ID 3376 has multiple names: ['Parade Pl & Crooke Ave' 'Parkside Ave & Parade Pl']
Station ID 3388 has multiple names: ['40 St & 3 Ave' '41 St & 3 Ave']
Station ID 3460 has multiple names: ['36 St & 3 Ave' '2 Ave & 37 St' '2 Ave & 36 St' '2 Ave & 39 St']
Station ID 3593 has multiple names: ['Maple St & Flatbush Ave' 'Flatbush Ave & Lincoln Rd']
Station ID 3625 has multiple names: ['Bedford Ave & Maple St' 'Rogers Ave & Lincoln Rd']
Station ID 3704 has multiple names: ['Washington Ave & Empire Blvd' 'Flatbush Ave & Ocean Ave']
Station ID 3728 has multiple names: ['New York Ave & Montgomery St' 'Empire Blvd & New York Ave']
Station ID 3776 has multiple names: ['Montgomery St & Franklin Ave' 'McKeever Pl & Sullivan Pl']
Station ID 3803 has multiple names: ['6 Ave & 12 St' '6 Ave & 9 St']
Station ID 3882 has multiple names: ['10 St & 4 Ave' '12 St & 4 Ave']
Station ID 3919 has multiple names: ['Eastern Pkwy & Franklin Ave (NE Corner)'
 'Eastern Pkwy & Franklin Ave (SW Corner)']
Station ID 3934 has multiple names: ['Sterling Pl & Schenectady Ave' 'Troy Ave & Park Pl']
Station ID 3966 has multiple names: ['St Johns Pl & Utica Ave' 'Park Pl & Utica Ave']
Station ID 4010 has multiple names: ['Grand Army Plaza & Plaza St West' 'Plaza St West & Flatbush Ave'
 'Plaza St East & Flatbush Ave']
Station ID 4023 has multiple names: ['Pacific St & Thomas S. Boyland St' 'St Marks Ave & Thomas S. Boyland St']
Station ID 4028 has multiple names: ['4 Ave & 3 St' '3 St & 3 Ave']
Station ID 4077 has multiple names: ['Smith St & 9 St' 'Court St & Nelson St']
Station ID 4086 has multiple names: ['Henry St & W 9 St' 'Columbia St & W 9 St']
Station ID 4095 has multiple names: ['Van Brunt St & Van Dyke St' 'Van Brunt St & Wolcott St']
Station ID 4107 has multiple names: ['Dean St & Franklin Ave' 'Franklin Ave & St Marks Ave']
Station ID 4116 has multiple names: ['Washington Ave & Park Pl' 'Prospect Pl & Underhill Ave']
Station ID 4137 has multiple names: ['Coffey St & Conover St' 'Coffey St & Ferris St']
Station ID 4157 has multiple names: ['Bergen St & Vanderbilt Ave' 'Prospect Pl & Vanderbilt Ave']
Station ID 4175 has multiple names: ['Union St & 4 Ave' 'Douglass St & 4 Ave']
Station ID 4196 has multiple names: ['Lewis Ave & Fulton St' 'Chauncey St & Stuyvesant Ave']
Station ID 4199 has multiple names: ['Carlton Ave & St Marks Ave' 'Carlton Ave & Dean St']
Station ID 4214 has multiple names: ['Verona Pl & Fulton St' 'Macon St & Nostrand Ave']
Station ID 4217 has multiple names: ['Degraw St & 3 Ave' 'Douglass St & 3 Ave']
Station ID 4228 has multiple names: ['Chauncey St & Malcolm X Blvd' 'Fulton St & Utica Ave']
Station ID 4237 has multiple names: ['Albany Ave & Fulton St' 'Lewis Ave & Decatur St']
Station ID 4301 has multiple names: ['Macon St & Patchen Ave' 'MacDonough St & Malcolm X Blvd']
Station ID 4354 has multiple names: ['Atlantic Ave & Fort Greene Pl' 'S Portland Ave & Hanson Pl']
Station ID 4366 has multiple names: ['Halsey St & Broadway' 'Decatur St & Saratoga Ave']
Station ID 4422 has multiple names: ['Columbia St & Kane St' 'Columbia St & Degraw St']
Station ID 4437 has multiple names: ['Nevins St & Schermerhorn St' '3 Ave & Schermerhorn St']
Station ID 4446 has multiple names: ['Pacific St & Smith St' 'Bergen St & Smith St' 'Dean St & Hoyt St']
Station ID 4452 has multiple names: ['Lafayette Ave & Classon Ave' 'Lexington Ave & Classon Ave']
Station ID 4455 has multiple names: ['Kane St & Clinton St' 'Congress St & Clinton St']
Station ID 4461 has multiple names: ['Clermont Ave & Lafayette Ave' 'DeKalb Ave & Vanderbilt Ave']
Station ID 4479 has multiple names: ['Schermerhorn St & Hoyt St' 'Bond St & Fulton St']
Station ID 4513 has multiple names: ['DeKalb Ave & Hudson Ave' 'Ashland Pl & Dekalb Ave']
Station ID 4519 has multiple names: ['Kosciuszko St & Nostrand Ave' 'Greene Ave & Nostrand Ave']
Station ID 4546 has multiple names: ['Washington Park' 'DeKalb Ave & S Portland Ave']
Station ID 4596 has multiple names: ['Lawrence St & Willoughby St' 'Duffield St & Willoughby St']
Station ID 4628 has multiple names: ['Willoughby St & Fleet St' 'Myrtle Ave & Fleet Pl']
Station ID 4637 has multiple names: ['Johnson St & Brooklyn Bridge Blvd' 'Fulton St & Adams St']
Station ID 4645 has multiple names: ['Henry St & Remsen St' 'Hicks St & Montague St']
Station ID 4663 has multiple names: ['Putnam Ave & Knickerbocker Ave' 'Knickerbocker Ave & Hancock St']
Station ID 4677 has multiple names: ['Cadman Plaza E & Tillary St' 'Montague St & Clinton St']
Station ID 4689 has multiple names: ['Stuyvesant Ave & Hart St' 'Suydam St & Broadway']
Station ID 4707 has multiple names: ['Nostrand Ave & Myrtle Ave' 'Myrtle Ave & Marcy Ave']
Station ID 4732 has multiple names: ['Carlton Ave & Flushing Ave' 'Carlton Ave & Park Ave']
Station ID 4735 has multiple names: ['Hancock St & Wyckoff Ave' 'Putnam Ave & Wyckoff Ave']
Station ID 4762 has multiple names: ['Clinton Ave & Flushing Ave' 'Flushing Ave & Vanderbilt Ave']
Station ID 4781 has multiple names: ['Nassau St & Duffield St' 'Concord St & Bridge St']
Station ID 4798 has multiple names: ['Stephen St & Seneca Ave' 'Forest Ave & Summerfield St']
Station ID 4812 has multiple names: ['Nassau St & Navy St' 'Sands St Gate']
Station ID 4816 has multiple names: ['Myrtle Ave & Grove St' 'Myrtle Ave & Linden St']
Station ID 4818 has multiple names: ['Union Ave & Wallabout St' 'Nostrand Ave & Flushing Ave']
Station ID 4821 has multiple names: ['Cadman Plaza E & Red Cross Pl' 'Sands St & Jay St'
 'Adams St & Prospect St']
Station ID 4862 has multiple names: ['Myrtle Ave & 65 St' 'Cooper Ave & 65 Pl']
Station ID 4895 has multiple names: ['Front St & Jay St' 'Jay St & York St' 'Pearl St & York St']
Station ID 4903 has multiple names: ['Old Fulton St' 'Dock St & Front St']
Station ID 4962 has multiple names: ['Whitehall St & Bridge St' 'Broadway & Battery Pl' 'Broad St & Bridge St']
Station ID 4993 has multiple names: ['Pearl St & Hanover Square' 'Water St & Gouverneur Ln'
 'Old Slip & South St']
Station ID 5051 has multiple names: ['Wyckoff Ave & Jefferson St' 'Irving Ave & Jefferson St']
Station ID 5057 has multiple names: ['67 Ave & Fresh Pond Rd' '64 St & Woodbine St']
Station ID 5065 has multiple names: ['Cliff St & Fulton St' 'John St & William St' 'William St & Pine St'
 'Maiden Ln & Pearl St']
Station ID 5099 has multiple names: ['Waterbury St & Stagg St' 'White St & Johnson Ave']
Station ID 5114 has multiple names: ['South End Ave & Albany St' 'West Thames St']
Station ID 5115 has multiple names: ['Onderdonk Ave & Dekalb Ave' 'Willoughby Ave & Onderdonk Ave']
Station ID 5125 has multiple names: ['S 5 Pl & S 5 St' 'Broadway & Roebling St']
Station ID 5137 has multiple names: ['Fulton St & William St' 'Spruce St & Nassau St']
Station ID 5159 has multiple names: ['South St & Pike St' 'Pike St & Monroe St']
Station ID 5190 has multiple names: ['Madison St & Clinton St' 'Clinton St & Cherry St']
Station ID 5216 has multiple names: ['Barclay St & Church St' 'Vesey St & Church St']
Station ID 5225 has multiple names: ['Metropolitan Ave & Flushing Ave' 'Flushing Ave & Woodward Ave']
Station ID 5235 has multiple names: ['S 3 St & Bedford Ave' 'Driggs Ave & S 2 St']
Station ID 5267 has multiple names: ['Roebling St & N 4 St' 'Grand St & Havemeyer St']
Station ID 5270 has multiple names: ['Market St & Henry St' 'Division St & Bowery' 'Pike St & E Broadway'
 'Forsyth St & Canal St']
Station ID 5288 has multiple names: ['Park Pl & Church St' 'Murray St & Greenwich St' 'Warren St & W Broadway']
Station ID 5300 has multiple names: ['Metropolitan Ave & Meeker Ave' 'Union Ave & Jackson St']
Station ID 5303 has multiple names: ['Clinton St & Grand St' 'Canal St & Rutgers St']
Station ID 5329 has multiple names: ['Murray St & West St' 'West St & Chambers St']
Station ID 5335 has multiple names: ['Bialystoker Pl & Delancey St' 'Grand St & Samuel Dickstein Plaza']
Station ID 5351 has multiple names: ['Walker St & Baxter St' 'Bayard St & Baxter St']
Station ID 5359 has multiple names: ['Leonard St & Church St' 'Duane St & Hudson St' 'Church St & Worth St'
 'Hudson St & Reade St']
Station ID 5379 has multiple names: ['Berry St & N 8 St' 'N 6 St & Bedford Ave']
Station ID 5382 has multiple names: ['Grand St & Elizabeth St' 'Forsyth St & Grand St']
Station ID 5403 has multiple names: ['Graham Ave & Herbert St' 'Graham Ave & Withers St']
Station ID 5406 has multiple names: ['Pitt St & Stanton St' 'Rivington St & Ridge St']
Station ID 5411 has multiple names: ['Driggs Ave & N 9 St' 'Union Ave & N 12 St']
Station ID 5414 has multiple names: ['Delancey St & Eldridge St' 'Allen St & Rivington St']
Station ID 5422 has multiple names: ['Howard St & Lafayette St' 'Lafayette St & Grand St']
Station ID 5430 has multiple names: ['6 Ave & Walker St' 'Franklin St & W Broadway']
Station ID 5433 has multiple names: ['Frost St & Debevoise Ave' 'Richardson St & N Henry St']
Station ID 5436 has multiple names: ['E Houston St & Columbia St' 'Ave D & E 3 St']
Station ID 5442 has multiple names: ['Bayard St & Leonard St' 'Manhattan Ave & Leonard St']
Station ID 5445 has multiple names: ['Stanton St & Norfolk St' 'Suffolk St & Stanton St']
Station ID 5450 has multiple names: ['N 10 St & Berry St' 'N 12 St & Bedford Ave']
Station ID 5453 has multiple names: ['Kenmare St & Elizabeth St' 'Rivington St & Chrystie St'
 'Forsyth St & Broome St']
Station ID 5470 has multiple names: ['N Moore St & Hudson St' 'Greenwich St & Hubert St'
 'North Moore St & Greenwich St']
Station ID 5473 has multiple names: ['Engert Ave & McGuinness Blvd' 'Monitor St & Meeker Ave']
Station ID 5489 has multiple names: ['N 11 St & Kent Ave' 'Kent Ave & N 7 St' 'N 9 St & Wythe Ave']
Station ID 5500 has multiple names: ['6 Ave & Canal St' 'Grand St & Greene St']
Station ID 5506 has multiple names: ['Ave D & E 8 St' 'E 6 St & Ave D']
Station ID 5510 has multiple names: ['57 Rd & 58 St' '57 Rd & 59 St']
Station ID 5515 has multiple names: ['E 2 St & Ave B' 'E 4 St & Ave B']
Station ID 5545 has multiple names: ['E 5 St & Ave C' 'E 7 St & Ave C']
Station ID 5550 has multiple names: ['Leonard St & Nassau Ave' 'Bedford Ave & Nassau Ave']
Station ID 5553 has multiple names: ['E 2 St & Ave A' 'E 3 St & 1 Ave']
Station ID 5561 has multiple names: ['Lafayette St & Jersey St' 'Mott St & Prince St']
Station ID 5569 has multiple names: ['W Broadway & Spring St' 'W Broadway & Watts St']
Station ID 5575 has multiple names: ['Ave D & E 12 St' 'Ave D & E 10 St']
Station ID 5579 has multiple names: ['55 Dr & Maurice Ave' '56 Dr & 59 St']
Station ID 5584 has multiple names: ['E 7 St & Ave B' 'E 6 St & Ave B']
Station ID 5593 has multiple names: ['E 1 St & 1 Ave' 'E 2 St & 2 Ave' 'E 4 St & 2 Ave']
Station ID 5611 has multiple names: ['63 St & Borden Ave' '61 St & Borden Ave']
Station ID 5616 has multiple names: ['E 12 St & Ave C' 'E 9 St & Ave C']
Station ID 5626 has multiple names: ['1 Ave & E 6 St' 'St Marks Pl & 1 Ave' 'E 7 St & Ave A']
Station ID 5636 has multiple names: ['Great Jones St' 'E 1 St & Bowery']
Station ID 5659 has multiple names: ['E 11 St & Ave B' 'E 10 St & Ave A']
Station ID 5666 has multiple names: ['Norman Ave & Leonard St' 'Meserole Ave & Manhattan Ave']
Station ID 5669 has multiple names: ['E 6 St & 2 Ave' 'St Marks Pl & 2 Ave']
Station ID 5679 has multiple names: ['Bleecker St & Crosby St' 'Mercer St & Bleecker St']
Station ID 5687 has multiple names: ['MacDougal St & Prince St' 'King St & Varick St']
Station ID 5712 has multiple names: ['Cooper Square & Astor Pl' 'E 5 St & Cooper Sq']
Station ID 5721 has multiple names: ['Thompson St & Bleecker St' 'LaGuardia Pl & W 3 St'
 'Sullivan St & Washington Sq']
Station ID 5746 has multiple names: ['E 11 St & 1 Ave' 'E 10 St & 2 Ave']
Station ID 5752 has multiple names: ['Milton St & Franklin St' 'Greenpoint Ave & West St']
Station ID 5755 has multiple names: ['Washington Pl & Broadway' 'Washington Square E' 'University Pl & E 8 St']
Station ID 5779 has multiple names: ['E 13 St & Ave A' '1 Ave & E 16 St' 'Ave A & E 14 St' 'E 14 St & 1 Ave']
Station ID 5785 has multiple names: ['Kent St & McGuinness Blvd' 'Greenpoint Ave & Manhattan Ave']
Station ID 5788 has multiple names: ['Lafayette St & E 8 St' 'E 11 St & 3 Ave' 'E 12 St & 3 Ave'
 '4 Ave & E 12 St']
Station ID 5805 has multiple names: ['Barrow St & Hudson St' '7 Ave S & Bleecker St']
Station ID 5847 has multiple names: ['W 10 St & Washington St' 'Christopher St & Greenwich St'
 'Washington St & Barrow St']
Station ID 5854 has multiple names: ['1 Ave & E 18 St' 'Stuyvesant Walk & 1 Ave Loop']
Station ID 5905 has multiple names: ['University Pl & E 14 St' 'Broadway & E 14 St']
Station ID 5914 has multiple names: ['Greenwich Ave & Charles St' 'W 11 St & 6 Ave']
Station ID 5922 has multiple names: ['Bank St & Hudson St' 'Perry St & Bleecker St' 'Greenwich St & Perry St']
Station ID 5938 has multiple names: ['E 16 St & Irving Pl' 'E 19 St & 3 Ave']
Station ID 5956 has multiple names: ['50 Ave & 65 St' '64 St & 51 Ave']
Station ID 5971 has multiple names: ['E 20 St & 2 Ave' 'E 22 St & 2 Ave']
Station ID 6004 has multiple names: ['E 27 St & 1 Ave' 'E 25 St & 1 Ave']
Station ID 6030 has multiple names: ['W 15 St & 7 Ave' 'W 13 St & 7 Ave']
Station ID 6072 has multiple names: ['8 Ave & W 16 St' 'Gansevoort St & Hudson St' 'Greenwich Ave & 8 Ave']
Station ID 6089 has multiple names: ['Lexington Ave & E 24 St' 'Lexington Ave & E 26 St' 'E 26 St & 3 Ave']
Station ID 6098 has multiple names: ['Broadway & E 19 St' 'Broadway & E 21 St' 'W 20 St & 5 Ave']
Station ID 6115 has multiple names: ['W 15 St & 10 Ave' 'Hudson St & W 13 St']
Station ID 6131 has multiple names: ['E 27 St & Park Ave S' 'Madison Ave & E 26 St']
Station ID 6134 has multiple names: ['Greenpoint Ave & 47 St' '44 St & Greenpoint Ave']
Station ID 6143 has multiple names: ['36 St & 47 Ave' '39 St & 47 Ave']
Station ID 6158 has multiple names: ['57 St & 43 Ave' 'Queens Blvd & 56 St']
Station ID 6173 has multiple names: ['Broadway & W 25 St' 'Pillar Broadway & W 25 St']
Station ID 6185 has multiple names: ['33 St & Queens Blvd' '33 St & 47 Ave']
Station ID 6190 has multiple names: ['W 18 St & 9 Ave' '9 Ave & W 18 St']
Station ID 6191 has multiple names: ['61 St & Woodside Ave' '62 St & 43 Ave']
Station ID 6197 has multiple names: ['E 33 St & 1 Ave' '2 Ave & E 31 St']
Station ID 6209 has multiple names: ['46 St & Queens Blvd' '43 Ave & 47 St']
Station ID 6212 has multiple names: ['Vernon Blvd & 47 Rd' '48 Ave & 5 St']
Station ID 6215 has multiple names: ['W 27 St & 6 Ave' 'W 25 St & 6 Ave']
Station ID 6224 has multiple names: ['W 22 St & 8 Ave' '8 Ave & W 24 St' 'W 20 St & 8 Ave']
Station ID 6234 has multiple names: ['Woodside Ave & 60 St' '57 St & Woodside Ave']
Station ID 6258 has multiple names: ['72 St & 41 Ave' '72 St & Broadway']
Station ID 6276 has multiple names: ['Skillman Ave & 54 St' 'Woodside Ave & 55 St']
Station ID 6290 has multiple names: ['79 St & Roosevelt Ave' '41 Ave & 77 St']
Station ID 6297 has multiple names: ['8 Ave & W 27 St' 'W 25 St & 8 Ave']
Station ID 6306 has multiple names: ['W 22 St & 10 Ave' 'W 20 St & 10 Ave']
Station ID 6314 has multiple names: ['Elmhurst Ave & Roosevelt Ave' 'Benham St & Roosevelt Ave']
Station ID 6319 has multiple names: ['11 St & 44 Rd' '45 Ave & 21 St' '45 Rd & 11 St' '44 Dr & 21 St']
Station ID 6323 has multiple names: ['Ithaca St & Baxter Ave' '84 St & Roosevelt Ave']
Station ID 6332 has multiple names: ['75 St & Roosevelt Ave' '74 St & 37 Ave']
Station ID 6364 has multiple names: ['6 Ave & W 34 St' '6 Ave & W 33 St']
Station ID 6398 has multiple names: ['W 37 St & 5 Ave' 'E 35 St & Madison Ave']
Station ID 6401 has multiple names: ['43 St & 37 Ave' '39 Ave & 45 St']
Station ID 6417 has multiple names: ['65 St & Broadway' '65 St & 35 Ave']
Station ID 6422 has multiple names: ['E 43 St & 2 Ave' 'E 44 St & 2 Ave']
Station ID 6432 has multiple names: ['E 40 St & Park Ave' 'E 41 St & Madison Ave (SE corner)']
Station ID 6435 has multiple names: ['48 St & 37 Ave' '50 St & Barnett Ave']
Station ID 6441 has multiple names: ['Broadway & W 37 St' 'W 37 St & Broadway' 'Broadway & W 36 St']
Station ID 6450 has multiple names: ['8 Ave & W 33 St' '8 Ave & W 31 St']
Station ID 6459 has multiple names: ['10 Ave & W 28 St' 'W 30 St & 10 Ave']
Station ID 6464 has multiple names: ['E 45 St & 3 Ave' 'E 44 St & Lexington Ave']
Station ID 6492 has multiple names: ['W 33 St & 10 Ave' '9 Ave & W 33 St']
Station ID 6498 has multiple names: ['E 47 St & 2 Ave' 'E 47 St & 1 Ave']
Station ID 6520 has multiple names: ['42 Pl & Northern Blvd' '43 St & 35 Ave']
Station ID 6524 has multiple names: ['37 Ave & 113 St' '114 St & 39 Ave']
Station ID 6526 has multiple names: ['8 Ave & W 38 St' 'W 35 St & 8 Ave']
Station ID 6551 has multiple names: ['W 44 St & 5 Ave' 'E 43 St & Madison Ave']
Station ID 6560 has multiple names: ['W 40 St & 7 Ave' 'Broadway & W 41 St' 'Broadway & W 38 St']
Station ID 6569 has multiple names: ['W 35 St & Dyer Ave' 'W 35 St & 9 Ave' 'W 36 St & 9 Ave']
Station ID 6593 has multiple names: ['6 Ave & W 45 St' 'W 43 St & 6 Ave']
Station ID 6602 has multiple names: ['W 42 St & 8 Ave' 'W 41 St & 8 Ave']
Station ID 6603 has multiple names: ['78 St & Northern Blvd' '32 Ave & 77 St']
Station ID 6611 has multiple names: ['W 37 St & 10 Ave' 'Hudson Blvd W & W 36 St']
Station ID 6617 has multiple names: ['E 53 St & 3 Ave' 'E 53 St & Lexington Ave']
Station ID 6626 has multiple names: ['E 48 St & 5 Ave' 'W 48 St &  Rockefeller Plaza']
Station ID 6644 has multiple names: ['W 42 St & Dyer Ave' '9 Ave & W 39 St']
Station ID 6659 has multiple names: ['E 51 St & Lexington Ave' 'Madison Ave & E 51 St' 'E 53 St & Madison Ave'
 'E 50 St & Park Ave']
Station ID 6660 has multiple names: ['96 St & Northern Blvd' '99 St & 32 Ave']
Station ID 6662 has multiple names: ['51 St & Hobart St' '49 St & 31 Ave']
Station ID 6682 has multiple names: ['E 60 St & York Ave' 'E 58 St & 1 Ave (NE Corner)']
Station ID 6700 has multiple names: ['W 51 St & Rockefeller Plaza' 'W 52 St & 5 Ave']
Station ID 6709 has multiple names: ['31 Ave & 86 St' '31 Ave & 84 St']
Station ID 6740 has multiple names: ['W 51 St & 6 Ave' 'W 52 St & 6 Ave']
Station ID 6747 has multiple names: ['W 49 St & 8 Ave' '8 Ave & W 49 St']
Station ID 6756 has multiple names: ['W 44 St & 11 Ave' 'W 43 St & 10 Ave']
Station ID 6762 has multiple names: ['3 Ave & E 62 St' 'E 58 St & 3 Ave']
Station ID 6779 has multiple names: ['Broadway & W 51 St' 'Broadway & W 53 St']
Station ID 6809 has multiple names: ['W 55 St & 6 Ave' 'W 56 St & 6 Ave']
Station ID 6839 has multiple names: ['E 58 St & Madison Ave' 'Grand Army Plaza & Central Park S']
Station ID 6847 has multiple names: ['7 Ave & W 55 St' 'Broadway & W 56 St']
Station ID 6869 has multiple names: ['Gillmore St & 27 Ave' 'Butler St & 27 Ave']
Station ID 6877 has multiple names: ['25 Ave & 96 St' 'Jackson Mill Rd & 24 Ave']
Station ID 6890 has multiple names: ['W 53 St & 10 Ave' 'W 50 St & 10 Ave']
Station ID 6932 has multiple names: ['E 67 St & Park Ave' 'E 68 St & Madison Ave']
Station ID 6955 has multiple names: ['W 56 St & 10 Ave' 'W 54 St & 11 Ave']
Station ID 7009 has multiple names: ['43 St & 23 Ave' 'Steinway St & 23 Ave']
Station ID 7023 has multiple names: ['Amsterdam Ave & W 60 St' 'W 59 St & 10 Ave']
Station ID 7032 has multiple names: ['Hazen St & 20 Ave' '76 St & 21 Ave']

In [ ]:
# Step 1: Convert station_id columns to strings
winter_data['start_station_id'] = winter_data['start_station_id'].astype(str)
winter_data['end_station_id'] = winter_data['end_station_id'].astype(str)

# Step 2: Keep only the first five characters (representing the ID before the decimal point)
winter_data['start_station_id'] = winter_data['start_station_id'].str.slice(0, 5)
winter_data['end_station_id'] = winter_data['end_station_id'].str.slice(0, 5)

# Step 3: Check for uniqueness by verifying the number of unique station IDs
unique_start_ids = winter_data['start_station_id'].nunique()
unique_end_ids = winter_data['end_station_id'].nunique()
unique_start_names = winter_data['start_station_name'].nunique()
unique_end_names = winter_data['end_station_name'].nunique()

print(f"Unique start station IDs: {unique_start_ids}")
print(f"Unique end station IDs: {unique_end_ids}")
print(f"Unique start station names: {unique_start_names}")
print(f"Unique end station names: {unique_end_names}")

# Optional: Check for any remaining inconsistencies in station names and IDs after this step
inconsistent_ids = winter_data.groupby('start_station_name')['start_station_id'].nunique()
inconsistent_names = inconsistent_ids[inconsistent_ids > 1]

if inconsistent_names.empty:
    print("No inconsistencies found in station names and IDs.")
else:
    print("Inconsistencies still exist in the following stations:")
    print(inconsistent_names)

Unique start station IDs: 1788
Unique end station IDs: 1839
Unique start station names: 2128
Unique end station names: 2187
No inconsistencies found in station names and IDs.

In [ ]:
# Step 1: Convert station_id to a string
winter_data['start_station_id'] = winter_data['start_station_id'].astype(str)
winter_data['end_station_id'] = winter_data['end_station_id'].astype(str)

In [ ]:
# Step 1: Round the station_id to two decimal places (if it's a float) or convert to string without decimals
winter_data['start_station_id'] = winter_data['start_station_id'].astype(float).round(2).astype(str)
winter_data['end_station_id'] = winter_data['end_station_id'].astype(float).round(2).astype(str)

# Step 2: Recheck for inconsistencies in mappings after rounding
# Group by start_station_name to check if each name has a single unique station_id
name_to_ids = winter_data.groupby('start_station_name')['start_station_id'].nunique()
inconsistent_name_ids = name_to_ids[name_to_ids > 1]
print("Stations with multiple IDs after rounding:", inconsistent_name_ids)

# Group by start_station_id to check if each ID maps to a single station_name
id_to_names = winter_data.groupby('start_station_id')['start_station_name'].nunique()
inconsistent_id_names = id_to_names[id_to_names > 1]
print("IDs with multiple station names after rounding:", inconsistent_id_names)

# Step 3: Optionally, correct the inconsistent records
# If you find that specific station names or IDs are still inconsistent, decide on a standardized version
# For example, you can replace all variations with the most common station_id for each station_name
# or vice versa, depending on your findings

# Example: Replace inconsistent station_id for each start_station_name with the most common ID
from collections import defaultdict

# Create a mapping of most common station_id for each station_name
station_id_mapping = defaultdict(lambda: None)
for name, group in winter_data.groupby('start_station_name'):
    most_common_id = group['start_station_id'].mode().values[0]  # Get the most common ID
    station_id_mapping[name] = most_common_id

# Apply the mapping to standardize station_ids
winter_data['start_station_id'] = winter_data['start_station_name'].map(station_id_mapping)

# Verify the consistency after applying the standardized mapping
name_to_ids_consistent = winter_data.groupby('start_station_name')['start_station_id'].nunique()
print("Consistency check - each name with single ID:", name_to_ids_consistent[name_to_ids_consistent > 1])

ValueError: could not convert string to float: 'SYS01'

In [ ]:
stop

In [ ]:
# Step 1: Convert station_id to a string
winter_data['start_station_id'] = winter_data['start_station_id'].astype(str)
winter_data['end_station_id'] = winter_data['end_station_id'].astype(str)

# Step 2: Check for inconsistencies by grouping by start_station_name
name_to_ids = winter_data.groupby('start_station_name')['start_station_id'].nunique()
inconsistent_name_ids = name_to_ids[name_to_ids > 1]
print("Stations with multiple IDs:", inconsistent_name_ids)

# Step 3: Check for inconsistencies by grouping by start_station_id
id_to_names = winter_data.groupby('start_station_id')['start_station_name'].nunique()
inconsistent_id_names = id_to_names[id_to_names > 1]
print("IDs with multiple station names:", inconsistent_id_names)

# Step 4: Filter out inconsistent records if needed
# These are rows where the mapping is inconsistent
inconsistent_records = winter_data[
    (winter_data['start_station_name'].isin(inconsistent_name_ids.index)) |
    (winter_data['start_station_id'].isin(inconsistent_id_names.index))
]
print("Inconsistent records:\n", inconsistent_records)

Stations with multiple IDs: start_station_name
2 Ave & E 99 St              2
24 Ave & 26 St               2
3 Ave & E 71 St              2
3 Ave & E 81 St              2
3 St & Hoyt St               2
                            ..
W 51 St & 6 Ave              2
W 74 St & Columbus Ave       2
Walton Ave & E 171 St        2
Warren St & Roosevelt Ave    2
Water St & Fletcher St       2
Name: start_station_id, Length: 95, dtype: int64
IDs with multiple station names: Series([], Name: start_station_name, dtype: int64)
Inconsistent records:
                   ride_id  rideable_type              started_at  \
73       F8A06C0AC293C4F8  electric_bike 2024-01-15 08:12:03.212
86       79F6682752F06BDA  electric_bike 2024-01-30 19:29:33.285
87       6B2CE2C7B1DFB312  electric_bike 2024-01-25 17:38:09.235
90       6EF6EA88DF453151   classic_bike 2024-01-25 02:58:50.887
93       65803A84B9F76A86  electric_bike 2024-01-15 10:55:32.557
...                   ...            ...                     ...
4002147  71BA725AE39562A8  electric_bike 2024-02-06 13:17:54.066
4002156  27D178BC499FCF19   classic_bike 2024-02-07 16:47:48.494
4002297  E9FA50FEDED2C802  electric_bike 2024-02-08 09:16:13.235
4002319  F143339165851D9C   classic_bike 2024-02-09 16:08:36.254
4002417  1091DFB7CEA39565  electric_bike 2024-02-04 08:53:40.985

                       ended_at          start_station_name start_station_id  \
73      2024-01-15 08:48:11.801         31 St & Newtown Ave          6923.20
86      2024-01-30 19:34:09.266    Amsterdam Ave & W 119 St          7727.07
87      2024-01-25 17:55:02.535    Amsterdam Ave & W 119 St          7727.07
90      2024-01-26 03:58:37.719   Schermerhorn St & Hoyt St          4479.10
93      2024-01-15 11:02:53.150   Schermerhorn St & Hoyt St          4479.10
...                         ...                         ...              ...
4002147 2024-02-06 13:22:21.333             W 51 St & 6 Ave           6740.1
4002156 2024-02-07 17:07:30.093             W 51 St & 6 Ave           6740.1
4002297 2024-02-08 09:43:33.536  Bergen St & Vanderbilt Ave           4157.1
4002319 2024-02-09 16:14:21.379  Bergen St & Vanderbilt Ave           4157.1
4002417 2024-02-04 09:30:18.216  Bergen St & Vanderbilt Ave           4157.1

                   end_station_name end_station_id  start_lat  start_lng  ...  \
73               Dock St & Front St        4903.09  40.767382 -73.921185  ...
86       St Nicholas Ave & W 126 St        7756.10  40.808541 -73.959701  ...
87                  E 74 St & 1 Ave        6953.08  40.808527 -73.959629  ...
90                              NaN            nan  40.688626 -73.985191  ...
93                Front St & Jay St        4895.03  40.688889 -73.985373  ...
...                             ...            ...        ...        ...  ...
4002147          Broadway & W 38 St        6560.15  40.760399 -73.981149  ...
4002156             3 Ave & E 81 St         7154.1  40.760660 -73.980420  ...
4002297             W 27 St & 7 Ave        6247.06  40.679408 -73.967947  ...
4002319         Prospect Pl & 6 Ave        4166.08  40.679439 -73.968044  ...
4002417             W 27 St & 7 Ave        6247.06  40.679445 -73.967984  ...

         start_lng_standardized  day month  hour  weekday  end_day  end_month  \
73                   -73.921102   15     1     8        0       15          1
86                   -73.959680   30     1    19        1       30          1
87                   -73.959680   25     1    17        3       25          1
90                   -73.985297   25     1     2        3       26          1
93                   -73.985297   15     1    10        0       15          1
...                         ...  ...   ...   ...      ...      ...        ...
4002147              -73.980434    6     2    13        1        6          2
4002156              -73.980434    7     2    16        2        7          2
4002297              -73.968010    8     2     9        3        8          2
4002319              -73.968010    9     2    16        4        9          2
4002417              -73.968010    4     2     8        6        4          2

         end_hour  end_weekday  trip_duration_minutes
73              8            0                   36.0
86             19            1                    5.0
87             17            3                   17.0
90              3            4                 1500.0
93             11            0                    7.0
...           ...          ...                    ...
4002147        13            1                    4.0
4002156        17            2                   20.0
4002297         9            3                   27.0
4002319        16            4                    6.0
4002417         9            6                   37.0

[232636 rows x 24 columns]

In [ ]:
# Find unique station IDs for "1 Ave & E 110 St"
unique_station_ids = winter_data[winter_data['start_station_name'] == "2 Ave & E 99 St"]['start_station_id'].unique()
print("Station IDs for '1 Ave & E 110 St':", unique_station_ids)

Station IDs for '1 Ave & E 110 St': ['7386.10' '7386.1']

In [ ]:
# Find unique station IDs for "1 Ave & E 110 St"
unique_station_ids = winter_data[winter_data['start_station_name'] == "W 51 St & 6 Ave"]['start_station_id'].unique()
print("Station IDs for '1 Ave & E 110 St':", unique_station_ids)

Station IDs for '1 Ave & E 110 St': ['6740.10' '6740.1']

In [ ]:
# 1. Total number of rides per station
station_rides = winter_data.groupby('start_station_name').size().reset_index(name='total_rides')

# 2. Station Rank based on number of rides
station_rides['station_rank'] = station_rides['total_rides'].rank(ascending=False, method='dense').astype(int)

# 3. Average trip duration (by start station)
avg_trip_duration = winter_data.groupby('start_station_name')['trip_duration_minutes'].mean().reset_index(name='avg_trip_duration_minutes')

# 4. Most common end station for each start station
most_common_end_station = winter_data.groupby('start_station_name')['end_station_name'] \
    .agg(lambda x: x.value_counts().idxmax()).reset_index(name='most_common_end_station')

# Merge these calculated columns back into the main DataFrame
winter_data = winter_data.merge(station_rides, on='start_station_name', how='left')
winter_data = winter_data.merge(avg_trip_duration, on='start_station_name', how='left')
winter_data = winter_data.merge(most_common_end_station, on='start_station_name', how='left')

In [ ]:
winter_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,weekday,end_day,end_month,end_hour,end_weekday,trip_duration_minutes,total_rides,station_rank,avg_trip_duration_minutes,most_common_end_station
0,5078F3D302000BD2,electric_bike,2024-01-22 18:43:19.012,2024-01-22 18:48:10.708,Frederick Douglass Blvd & W 145 St,7954.12,St Nicholas Ave & W 126 St,7756.10,40.823072,-73.941738,...,0,22,1,18,0,5.0,1324,783,9.023414,Macombs Pl & W 152 St
1,814337105D37302A,electric_bike,2024-01-11 19:19:18.721,2024-01-11 19:47:36.007,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761822,-73.977036,...,3,11,1,19,3,28.0,2636,508,14.058422,Broadway & W 58 St
2,A33A920E2B10710C,electric_bike,2024-01-30 19:17:41.693,2024-01-30 19:32:49.857,E 11 St & Ave B,5659.11,W 10 St & Washington St,5847.06,40.727592,-73.979751,...,1,30,1,19,1,15.0,6239,137,8.666934,Ave A & E 14 St
3,A3A5FC0DD7D34D74,electric_bike,2024-01-27 11:27:01.759,2024-01-27 11:38:01.213,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761779,-73.977144,...,5,27,1,11,5,11.0,2636,508,14.058422,Broadway & W 58 St
4,6F96728ECEFBDAA4,electric_bike,2024-01-16 15:15:41.000,2024-01-16 15:29:26.156,Madison Ave & E 99 St,7443.01,E 74 St & 1 Ave,6953.08,40.789808,-73.952214,...,1,16,1,15,1,14.0,2941,466,10.910915,Park Ave & E 124 St

In [ ]:
winter_data['start_station_name'].unique()

array(['Frederick Douglass Blvd & W 145 St', 'W 54 St & 6 Ave',
       'E 11 St & Ave B', ..., '87 St & 30 Ave', 'Brunswick St',
       'Faile St & Garrison Ave'], dtype=object)

In [ ]:
# Group by `start_station_id` and count unique `start_station_name` values for each ID
name_inconsistencies = winter_data.groupby('start_station_id')['start_station_name'].nunique()

# Filter to find IDs with more than one unique station name
inconsistent_ids = name_inconsistencies[name_inconsistencies > 1]
print(inconsistent_ids)

Series([], Name: start_station_name, dtype: int64)

In [ ]:
# Group by `start_station_name` and count unique `start_station_id` values for each name
id_inconsistencies = winter_data.groupby('start_station_name')['start_station_id'].nunique()

# Filter to find names with more than one unique station ID
inconsistent_names = id_inconsistencies[id_inconsistencies > 1]
print(inconsistent_names)

start_station_name
1 Ave & E 110 St                2
1 Ave & E 16 St                 2
1 Ave & E 18 St                 2
1 Ave & E 30 St                 2
1 Ave & E 39 St                 2
                               ..
Wyckoff Ave & Stanhope St       2
Wyckoff St & 3 Ave              2
Wythe Ave & Metropolitan Ave    2
Wythe Ave & N 13 St             2
Yankee Ferry Terminal           2
Name: start_station_id, Length: 2121, dtype: int64

In [ ]:
# Filter the DataFrame for records with inconsistent start_station_id or start_station_name
inconsistent_records = winter_data[winter_data['start_station_id'].isin(inconsistent_ids.index) | winter_data['start_station_name'].isin(inconsistent_names.index)]
print(inconsistent_records)

                  ride_id  rideable_type              started_at  \
0        5078F3D302000BD2  electric_bike 2024-01-22 18:43:19.012
1        814337105D37302A  electric_bike 2024-01-11 19:19:18.721
2        A33A920E2B10710C  electric_bike 2024-01-30 19:17:41.693
3        A3A5FC0DD7D34D74  electric_bike 2024-01-27 11:27:01.759
4        6F96728ECEFBDAA4  electric_bike 2024-01-16 15:15:41.000
...                   ...            ...                     ...
4002582  470C026528BACA6F  electric_bike 2024-02-08 19:55:20.590
4002583  C3A69B86250DC97F   classic_bike 2024-02-24 09:37:13.343
4002584  07B1E55B22909E1D  electric_bike 2024-02-12 18:07:55.640
4002585  BFDBE8CC2EF9E678  electric_bike 2024-02-22 09:12:00.967
4002586  FD3C194DDA6BEF94  electric_bike 2024-02-28 17:32:58.667

                       ended_at                  start_station_name  \
0       2024-01-22 18:48:10.708  Frederick Douglass Blvd & W 145 St
1       2024-01-11 19:47:36.007                     W 54 St & 6 Ave
2       2024-01-30 19:32:49.857                     E 11 St & Ave B
3       2024-01-27 11:38:01.213                     W 54 St & 6 Ave
4       2024-01-16 15:29:26.156               Madison Ave & E 99 St
...                         ...                                 ...
4002582 2024-02-08 20:04:01.720                    11 Ave & W 41 St
4002583 2024-02-24 09:44:17.922             Rogers Ave & Lincoln Rd
4002584 2024-02-12 18:13:15.102                    11 Ave & W 41 St
4002585 2024-02-22 09:22:09.416                 Bond St & Fulton St
4002586 2024-02-28 17:38:22.976                    11 Ave & W 41 St

        start_station_id            end_station_name end_station_id  \
0                7954.12  St Nicholas Ave & W 126 St        7756.10
1                6771.13             E 74 St & 1 Ave        6953.08
2                5659.11     W 10 St & Washington St        5847.06
3                6771.13             E 74 St & 1 Ave        6953.08
4                7443.01             E 74 St & 1 Ave        6953.08
...                  ...                         ...            ...
4002582          6726.01             W 27 St & 7 Ave        6247.06
4002583          3625.07   Sterling St & Bedford Ave        3665.06
4002584          6726.01          Broadway & W 38 St        6560.15
4002585          4479.06          Pearl St & York St        4895.15
4002586          6726.01          Broadway & W 38 St        6560.15

         start_lat  start_lng  ...  weekday  end_day end_month  end_hour  \
0        40.823072 -73.941738  ...        0       22         1        18
1        40.761822 -73.977036  ...        3       11         1        19
2        40.727592 -73.979751  ...        1       30         1        19
3        40.761779 -73.977144  ...        5       27         1        11
4        40.789808 -73.952214  ...        1       16         1        15
...            ...        ...  ...      ...      ...       ...       ...
4002582  40.760487 -73.998832  ...        3        8         2        20
4002583  40.661270 -73.953520  ...        5       24         2         9
4002584  40.760346 -73.998675  ...        0       12         2        18
4002585  40.689085 -73.982961  ...        3       22         2         9
4002586  40.760594 -73.998792  ...        2       28         2        17

         end_weekday  trip_duration_minutes  total_rides  station_rank  \
0                  0                    5.0         1324           783
1                  3                   28.0         2636           508
2                  1                   15.0         6239           137
3                  5                   11.0         2636           508
4                  1                   14.0         2941           466
...              ...                    ...          ...           ...
4002582            3                    9.0        11118            14
4002583            5                    7.0         1038           879
4002584            0                    5.0        11118            14
4002585            3                   10.0         3795           350
4002586            2                    5.0        11118            14

         avg_trip_duration_minutes    most_common_end_station
0                         9.023414      Macombs Pl & W 152 St
1                        14.058422         Broadway & W 58 St
2                         8.666934            Ave A & E 14 St
3                        14.058422         Broadway & W 58 St
4                        10.910915        Park Ave & E 124 St
...                            ...                        ...
4002582                  10.753283    W 34 St & Hudson Blvd E
4002583                  11.723507  Flatbush Ave & Lincoln Rd
4002584                  10.753283    W 34 St & Hudson Blvd E
4002585                  12.673781  Schermerhorn St & Hoyt St
4002586                  10.753283    W 34 St & Hudson Blvd E

[4002477 rows x 28 columns]

In [ ]:
# Create a dictionary with start_station_id as key and the most common start_station_name as value
id_to_name_mapping = (
    winter_data.groupby('start_station_id')['start_station_name']
    .agg(lambda x: x.value_counts().idxmax())
    .to_dict()
)

In [ ]:
# Update start_station_name based on the mapping
winter_data['start_station_name'] = winter_data['start_station_id'].map(id_to_name_mapping)

In [ ]:
# Re-run inconsistency check
name_inconsistencies = winter_data.groupby('start_station_id')['start_station_name'].nunique()
id_inconsistencies = winter_data.groupby('start_station_name')['start_station_id'].nunique()

print("IDs with multiple names:", name_inconsistencies[name_inconsistencies > 1])
print("Names with multiple IDs:", id_inconsistencies[id_inconsistencies > 1])

IDs with multiple names: Series([], Name: start_station_name, dtype: int64)
Names with multiple IDs: start_station_name
1 Ave & E 110 St                2
1 Ave & E 16 St                 2
1 Ave & E 18 St                 2
1 Ave & E 30 St                 2
1 Ave & E 39 St                 2
                               ..
Wyckoff Ave & Stanhope St       2
Wyckoff St & 3 Ave              2
Wythe Ave & Metropolitan Ave    2
Wythe Ave & N 13 St             2
Yankee Ferry Terminal           2
Name: start_station_id, Length: 2121, dtype: int64

In [ ]:
# Find unique station IDs for "1 Ave & E 110 St"
unique_station_ids = winter_data[winter_data['start_station_name'] == "1 Ave & E 110 St"]['start_station_id'].unique()
print("Station IDs for '1 Ave & E 110 St':", unique_station_ids)

Station IDs for '1 Ave & E 110 St': ['7522.02' 7522.02]

In [ ]:
# Save as CSV
winter_data.to_csv('winter_citibike_data.csv', index=False)

In [ ]:
jan_data_part2.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,D4503D51E937A9C7,electric_bike,2023-01-05 14:30:12.160,2023-01-05 14:35:10.911,W 36 St & 7 Ave,6483.06,W 31 St & 7 Ave,6331.01,40.752005,-73.989450,40.749156,-73.991600,member
1,57AE7687F811FDD8,classic_bike,2023-01-21 11:21:14.610,2023-01-21 11:24:26.385,Broadway & W 61 St,7014.12,Amsterdam Ave & W 66 St,7149.05,40.770030,-73.981968,40.774667,-73.984706,member
2,0D449F2D8BF0454E,electric_bike,2023-01-11 02:27:18.311,2023-01-11 02:33:23.143,Broadway & W 41 St,6560.01,E 39 St & 2 Ave,6345.08,40.755134,-73.986233,40.748033,-73.973828,member
3,66CF3BA2811C5894,electric_bike,2023-01-17 17:39:42.679,2023-01-17 17:44:24.076,President St & 4 Ave,4101.17,Smith St & 3 St,4151.01,40.676693,-73.983127,40.678724,-73.995991,member
4,389CCC81F6EF3000,electric_bike,2023-01-04 16:35:57.768,2023-01-04 16:45:17.623,W 59 St & 10 Ave,7023.04,E 65 St & 2 Ave,6860.12,40.770710,-73.987826,40.764719,-73.962221,member

In [ ]:
feb_data_part1.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,B354BE3C0834F6BE,electric_bike,2023-02-21 17:20:37.505,2023-02-21 17:23:54.676,St James Pl & Pearl St,5167.06,Fulton St & William St,5137.11,40.711211,-74.000132,40.709601,-74.006551,member
1,3CCD231D8FABA882,electric_bike,2023-02-02 20:04:50.003,2023-02-02 20:27:57.794,E 25 St & 2 Ave,6046.02,Washington Ave & Greene Ave,4419.03,40.738883,-73.979033,40.686501,-73.965633,member
2,2EE4EFD27D50719C,classic_bike,2023-02-17 23:31:11.753,2023-02-17 23:32:42.808,E 25 St & 2 Ave,6046.02,E 25 St & 1 Ave,6004.07,40.739126,-73.979738,40.738177,-73.977387,member
3,C996B4C8EC1084A0,classic_bike,2023-02-06 06:11:13.144,2023-02-06 06:12:54.202,E 25 St & 2 Ave,6046.02,E 25 St & 1 Ave,6004.07,40.739126,-73.979738,40.738177,-73.977387,member
4,421D3470513FF67B,classic_bike,2023-02-22 06:01:46.706,2023-02-22 06:03:27.871,E 25 St & 2 Ave,6046.02,E 25 St & 1 Ave,6004.07,40.739126,-73.979738,40.738177,-73.977387,member

In [ ]:
feb_data_part2.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EAA5A6F697F5B30B,classic_bike,2023-02-22 06:44:37.967,2023-02-22 06:51:43.818,Suffolk St & Stanton St,5445.02,Cooper Square & Astor Pl,5712.03,40.720664,-73.985180,40.729515,-73.990753,member
1,3991FD41E6F665FB,classic_bike,2023-02-14 18:32:35.036,2023-02-14 18:55:30.324,E 58 St & 1 Ave (NW Corner),6723.1,46 Ave & 5 St,6286.02,40.759125,-73.962658,40.747310,-73.954510,member
2,1D2B5F2CD84F1EA3,classic_bike,2023-02-20 11:21:21.121,2023-02-20 11:32:24.502,Suffolk St & Stanton St,5445.02,Old Slip & South St,4993.13,40.720664,-73.985180,40.703367,-74.007868,member
3,C5897399DCC297DB,classic_bike,2023-02-15 20:16:26.597,2023-02-15 20:30:38.259,W 26 St & 10 Ave,6382.05,Spring St & Hudson St,5653.12,40.749718,-74.002950,40.725840,-74.007653,member
4,A6511930522EDC4F,electric_bike,2023-02-10 23:55:57.192,2023-02-11 00:08:26.933,E 58 St & 1 Ave (NW Corner),6723.1,W 41 St & 8 Ave,6602.03,40.759125,-73.962658,40.756405,-73.990026,member

In [ ]:
# 1. Merge January and February datasets
# Concatenate all the dataframes
combined_data = pd.concat([jan_data_part1, jan_data_part2, feb_data_part1, feb_data_part2], ignore_index=True)

In [ ]:
# Step 2.1: Check for missing values
missing_values = combined_data.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 ride_id                  0
rideable_type            1
started_at               1
ended_at                 1
start_station_name      69
start_station_id        69
end_station_name      5447
end_station_id        5447
start_lat                1
start_lng                1
end_lat               1499
end_lng               1499
member_casual            1
dtype: int64

In [ ]:
# Step 2.2: Handle missing values
# Option 1: Drop rows with missing values
cleaned_data = combined_data.dropna()

In [ ]:
# Check for duplicate rows
duplicates = cleaned_data.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [ ]:
# Remove duplicate rows if needed
cleaned_data = cleaned_data.drop_duplicates()

In [ ]:
print(cleaned_data.columns)

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [ ]:
cleaned_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DC1CB984821DFFF7,classic_bike,2023-01-07 15:36:53.430,2023-01-07 15:39:45.406,Vesey St & Church St,5216.06,Albany St & Greenwich St,5145.02,40.712220,-74.010472,40.709267,-74.013247,member
1,C00CA02971557F16,classic_bike,2023-01-04 19:23:01.234,2023-01-04 19:34:57.151,Lispenard St & Broadway,5391.06,St Marks Pl & 1 Ave,5626.13,40.719392,-74.002472,40.727791,-73.985649,member
2,C753AE5EBD8458F9,classic_bike,2023-01-20 09:22:19.894,2023-01-20 10:23:24.255,3 Ave & Schermerhorn St,4437.01,State St & Smith St,4522.07,40.686832,-73.979677,40.689170,-73.988600,member
3,E4415A543C1972A7,classic_bike,2023-01-24 10:38:01.135,2023-01-24 10:41:40.749,E 5 St & Ave A,5626.06,E 1 St & 1 Ave,5593.01,40.724790,-73.984301,40.723356,-73.988650,member
4,BD52A87B215877C7,electric_bike,2023-01-13 10:17:38.192,2023-01-13 10:33:59.099,W 54 St & 11 Ave,6955.05,Washington St & Gansevoort St,6039.06,40.768292,-73.992563,40.739323,-74.008119,member

In [ ]:
print(feb_data_part1.shape)
print(feb_data_part2.shape)

(459427, 13)
(696171, 13)

In [ ]:
# Ensure that date and time columns are in the correct datetime format
cleaned_data['started_at'] = pd.to_datetime(cleaned_data['started_at'])
cleaned_data['ended_at'] = pd.to_datetime(cleaned_data['ended_at'])

In [ ]:
# Calculate trip duration in seconds
cleaned_data['trip_duration_seconds'] = (cleaned_data['ended_at'] - cleaned_data['started_at']).dt.total_seconds()

In [ ]:
# Check the first few rows to ensure trip_duration_seconds was calculated correctly
print(cleaned_data[['started_at', 'ended_at', 'trip_duration_seconds']].head())

               started_at                ended_at  trip_duration_seconds
0 2023-01-07 15:36:53.430 2023-01-07 15:39:45.406                171.976
1 2023-01-04 19:23:01.234 2023-01-04 19:34:57.151                715.917
2 2023-01-20 09:22:19.894 2023-01-20 10:23:24.255               3664.361
3 2023-01-24 10:38:01.135 2023-01-24 10:41:40.749                219.614
4 2023-01-13 10:17:38.192 2023-01-13 10:33:59.099                980.907

In [ ]:
# Step 2.5: Remove unrealistic trip durations (e.g., trips longer than 24 hours)
cleaned_data = cleaned_data[cleaned_data['trip_duration_seconds'] <= 28800]  # 8 hours

In [ ]:
# Step 2.6: Final check of the cleaned data
print("Cleaned data summary:")
print(cleaned_data.info())

Cleaned data summary:
<class 'pandas.core.frame.DataFrame'>
Index: 2943085 entries, 0 to 2951009
Data columns (total 14 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ride_id                object
 1   rideable_type          object
 2   started_at             datetime64[ns]
 3   ended_at               datetime64[ns]
 4   start_station_name     object
 5   start_station_id       object
 6   end_station_name       object
 7   end_station_id         object
 8   start_lat              float64
 9   start_lng              float64
 10  end_lat                float64
 11  end_lng                float64
 12  member_casual          object
 13  trip_duration_seconds  float64
dtypes: datetime64[ns](2), float64(5), object(7)
memory usage: 336.8+ MB
None

In [ ]:
cleaned_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration_seconds
0,DC1CB984821DFFF7,classic_bike,2023-01-07 15:36:53.430,2023-01-07 15:39:45.406,Vesey St & Church St,5216.06,Albany St & Greenwich St,5145.02,40.712220,-74.010472,40.709267,-74.013247,member,171.976
1,C00CA02971557F16,classic_bike,2023-01-04 19:23:01.234,2023-01-04 19:34:57.151,Lispenard St & Broadway,5391.06,St Marks Pl & 1 Ave,5626.13,40.719392,-74.002472,40.727791,-73.985649,member,715.917
2,C753AE5EBD8458F9,classic_bike,2023-01-20 09:22:19.894,2023-01-20 10:23:24.255,3 Ave & Schermerhorn St,4437.01,State St & Smith St,4522.07,40.686832,-73.979677,40.689170,-73.988600,member,3664.361
3,E4415A543C1972A7,classic_bike,2023-01-24 10:38:01.135,2023-01-24 10:41:40.749,E 5 St & Ave A,5626.06,E 1 St & 1 Ave,5593.01,40.724790,-73.984301,40.723356,-73.988650,member,219.614
4,BD52A87B215877C7,electric_bike,2023-01-13 10:17:38.192,2023-01-13 10:33:59.099,W 54 St & 11 Ave,6955.05,Washington St & Gansevoort St,6039.06,40.768292,-73.992563,40.739323,-74.008119,member,980.907

In [ ]:
# # Check for data types and null values
# print(cleaned_data.info())
# print(cleaned_data.isnull().sum())

# # Save a smaller subset to CSV (e.g., first 100,000 rows)
# cleaned_data.to_csv('cleaned_citibike_data_sample.csv', index=False)

In [ ]:
# # Remove rows where trip duration is longer than 24 hours (86400 seconds)
# cleaned_data = cleaned_data[cleaned_data['trip_duration_seconds'] <= 86400]

In [ ]:
# # Remove rows for casual users, keep only members
# cleaned_data = cleaned_data[cleaned_data['member_casual'] == 'member']

In [ ]:
# # Example: Remove all rows where the start station is not within a certain range of IDs or names
# relevant_stations = ['Station A', 'Station B', 'Station C']
# cleaned_data = cleaned_data[cleaned_data['start_station_name'].isin(relevant_stations)]

In [ ]:
# # Drop rows with missing values in important columns
# cleaned_data = cleaned_data.dropna(subset=['start_station_name', 'end_station_name', 'ride_id'])

In [ ]:
# # Remove unnecessary columns
# cleaned_data = cleaned_data.drop(columns=['start_lat', 'start_lng', 'end_lat', 'end_lng'])

In [ ]:
cleaned_data['trip_duration_seconds'] = pd.to_numeric(cleaned_data['trip_duration_seconds'], errors='coerce')

In [ ]:
# cleaned_data.to_csv('reduced_citibike_data_utf8.csv', index=False, encoding='utf-8')

In [ ]:
# Remove December entries if they are not needed
cleaned_data = cleaned_data[cleaned_data['started_at'].dt.month != 12]

In [ ]:
# Step 3: Save the cleaned data to a new CSV file for further analysis
cleaned_data.to_csv('cleaned_citibike_data_jan_feb_2023.csv', index=False)

In [ ]:
jan_data = cleaned_data[cleaned_data['started_at'].dt.month == 1]
feb_data = cleaned_data[cleaned_data['started_at'].dt.month == 2]

jan_data.to_csv('jan_citibike_data.csv', index=False)
feb_data.to_csv('feb_citibike_data.csv', index=False)

In [ ]:
print(feb_data_part1.shape)
print(feb_data_part2.shape)

(459427, 13)
(696171, 13)

In [ ]:
print(feb_data.shape)  # Check the shape of the filtered February data
print(cleaned_data['started_at'].dt.month.unique())  # Check if month 2 (February) is present

(1153460, 14)
[1 2]

In [ ]:
print(cleaned_data['started_at'].dt.month.unique())  # Ensure both 1 and 2 are present

[1 2]

In [ ]:
# Sample equally from both January and February
jan_sample = cleaned_data[cleaned_data['started_at'].dt.month == 1].sample(frac=0.1, random_state=42)
feb_sample = cleaned_data[cleaned_data['started_at'].dt.month == 2].sample(frac=0.1, random_state=42)

# Combine both samples
sample_data = pd.concat([jan_sample, feb_sample])

# Save the sampled dataset to CSV
sample_data.to_csv('time_based_sampled_citibike_data.csv', index=False)

In [ ]:
# Take a random sample (e.g., 10%) of January and February data
jan_sample = jan_data.sample(frac=0.1, random_state=42)
feb_sample = feb_data.sample(frac=0.1, random_state=42)

# Save the sampled data to CSV files
jan_sample.to_csv('jan_sample_citibike_data.csv', index=False)
feb_sample.to_csv('feb_sample_citibike_data.csv', index=False)