In [43]:
import pandas as pd

In [44]:
# Load the CSV files for January and February 2023 
jan_data = pd.read_csv('Resources/202401-citibike-tripdata.csv')
feb_data = pd.read_csv('Resources/202402-citibike-tripdata.csv')

/var/folders/w1/kv9m74sx7rn3jh6fkm7wrzrc0000gp/T/ipykernel_18470/1028890401.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  jan_data = pd.read_csv('Resources/202401-citibike-tripdata.csv')
/var/folders/w1/kv9m74sx7rn3jh6fkm7wrzrc0000gp/T/ipykernel_18470/1028890401.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  feb_data = pd.read_csv('Resources/202402-citibike-tripdata.csv')

In [45]:
# Display Dataframe
jan_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5078F3D302000BD2,electric_bike,2024-01-22 18:43:19.012,2024-01-22 18:48:10.708,Frederick Douglass Blvd & W 145 St,7954.12,St Nicholas Ave & W 126 St,7756.10,40.823072,-73.941738,40.811432,-73.951878,member
1,814337105D37302A,electric_bike,2024-01-11 19:19:18.721,2024-01-11 19:47:36.007,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761822,-73.977036,40.768974,-73.954823,member
2,A33A920E2B10710C,electric_bike,2024-01-30 19:17:41.693,2024-01-30 19:32:49.857,E 11 St & Ave B,5659.11,W 10 St & Washington St,5847.06,40.727592,-73.979751,40.733424,-74.008515,casual
3,A3A5FC0DD7D34D74,electric_bike,2024-01-27 11:27:01.759,2024-01-27 11:38:01.213,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761779,-73.977144,40.768974,-73.954823,member
4,6F96728ECEFBDAA4,electric_bike,2024-01-16 15:15:41.000,2024-01-16 15:29:26.156,Madison Ave & E 99 St,7443.01,E 74 St & 1 Ave,6953.08,40.789808,-73.952214,40.768974,-73.954823,member

In [46]:
jan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1888085 entries, 0 to 1888084
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 187.3+ MB

In [47]:
feb_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,B2B980E0EAE1D6F1,classic_bike,2024-02-25 20:25:40.894,2024-02-25 20:43:58.504,Greenwich St & Hubert St,5470.10,Hudson Blvd W & W 36 St,6611.07,40.721319,-74.010065,40.756765,-73.999714,member
1,1069DDA1FED20568,classic_bike,2024-02-21 22:21:38.446,2024-02-21 22:40:12.259,Greenwich St & Hubert St,5470.10,Hudson Blvd W & W 36 St,6611.07,40.721319,-74.010065,40.756765,-73.999714,member
2,B58850AF6F2D8BD5,electric_bike,2024-02-14 08:31:14.609,2024-02-14 08:42:30.427,Mercer St & Bleecker St,5679.05,W 20 St & 10 Ave,6306.01,40.727068,-73.996554,40.745686,-74.005141,member
3,D46E6C5A69048E11,electric_bike,2024-02-05 08:42:25.999,2024-02-05 08:56:26.899,E 20 St & FDR Dr,5886.13,E 74 St & 1 Ave,6953.08,40.733155,-73.975561,40.768974,-73.954823,member
4,707AF4CF2C7834C2,electric_bike,2024-02-08 11:13:15.969,2024-02-08 11:18:44.259,E 20 St & FDR Dr,5886.13,Pitt St & Stanton St,5406.04,40.733184,-73.975525,40.719261,-73.981780,member

In [48]:
feb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2121501 entries, 0 to 2121500
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 210.4+ MB

In [49]:
# Check for missing values 
jan_data.isnull().sum()
feb_data.isnull().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name    1866
start_station_id      1866
end_station_name      4768
end_station_id        4788
start_lat                0
start_lng                0
end_lat                607
end_lng                607
member_casual            0
dtype: int64

In [50]:
# Calculate the total number of rows in each dataset
total_rows_jan = len(jan_data)
total_rows_feb = len(feb_data)

# Calculate the number of rows with missing data in each dataset
missing_rows_jan = jan_data[jan_data.isnull().any(axis=1)].shape[0]
missing_rows_feb = feb_data[feb_data.isnull().any(axis=1)].shape[0]

# Calculate the percentage of missing data
percent_missing_jan = (missing_rows_jan / total_rows_jan) * 100
percent_missing_feb = (missing_rows_feb / total_rows_feb) * 100

print(f"Percentage of rows with missing data in January dataset: {percent_missing_jan:.2f}%")
print(f"Percentage of rows with missing data in February dataset: {percent_missing_feb:.2f}%")

Percentage of rows with missing data in January dataset: 0.32%
Percentage of rows with missing data in February dataset: 0.26%

In [51]:
# Remove all rows with missing values 
## Remove rows with missing values in January dataset
jan_data_cleaned = jan_data.dropna()

## Remove rows with missing values in February dataset
feb_data_cleaned = feb_data.dropna()

In [52]:
# Check new row counts 

print(f"Original January dataset rows: {len(jan_data)}")
print(f"Cleaned January dataset rows: {len(jan_data_cleaned)}")
print(f"Original February dataset rows: {len(feb_data)}")
print(f"Cleaned February dataset rows: {len(feb_data_cleaned)}")

Original January dataset rows: 1888085
Cleaned January dataset rows: 1881977
Original February dataset rows: 2121501
Cleaned February dataset rows: 2115989

In [53]:
# Combine January and February data
winter_data = pd.concat([jan_data_cleaned, feb_data_cleaned], ignore_index=True)

In [54]:
# Drop duplicate rows 
winter_data.drop_duplicates(inplace=True)

In [55]:
winter_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5078F3D302000BD2,electric_bike,2024-01-22 18:43:19.012,2024-01-22 18:48:10.708,Frederick Douglass Blvd & W 145 St,7954.12,St Nicholas Ave & W 126 St,7756.10,40.823072,-73.941738,40.811432,-73.951878,member
1,814337105D37302A,electric_bike,2024-01-11 19:19:18.721,2024-01-11 19:47:36.007,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761822,-73.977036,40.768974,-73.954823,member
2,A33A920E2B10710C,electric_bike,2024-01-30 19:17:41.693,2024-01-30 19:32:49.857,E 11 St & Ave B,5659.11,W 10 St & Washington St,5847.06,40.727592,-73.979751,40.733424,-74.008515,casual
3,A3A5FC0DD7D34D74,electric_bike,2024-01-27 11:27:01.759,2024-01-27 11:38:01.213,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761779,-73.977144,40.768974,-73.954823,member
4,6F96728ECEFBDAA4,electric_bike,2024-01-16 15:15:41.000,2024-01-16 15:29:26.156,Madison Ave & E 99 St,7443.01,E 74 St & 1 Ave,6953.08,40.789808,-73.952214,40.768974,-73.954823,member

In [56]:
winter_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3997966 entries, 0 to 3997965
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 396.5+ MB

In [57]:
# Convert date and time columns 
winter_data['started_at'] = pd.to_datetime(winter_data['started_at'])
winter_data['ended_at'] = pd.to_datetime(winter_data['ended_at'])

In [58]:
# # Convert Station ID to string
# winter_data['start_station_id'] = winter_data['start_station_id'].astype(str)
# winter_data['end_station_id'] = winter_data['end_station_id'].astype(str)

In [59]:
# Confirm datatypes
winter_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3997966 entries, 0 to 3997965
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 396.5+ MB

In [60]:
# Add Temporal columns for analysis 
winter_data['day'] = winter_data['started_at'].dt.day
winter_data['month'] = winter_data['started_at'].dt.month
winter_data['hour'] = winter_data['started_at'].dt.hour
winter_data['weekday'] = winter_data['started_at'].dt.dayofweek
winter_data['end_day'] = winter_data['ended_at'].dt.day
winter_data['end_month'] = winter_data['ended_at'].dt.month
winter_data['end_hour'] = winter_data['ended_at'].dt.hour
winter_data['end_weekday'] = winter_data['ended_at'].dt.dayofweek

In [61]:
# Calculate trip duration 
# Calculate trip duration in minutes
winter_data['trip_duration_minutes'] = ((winter_data['ended_at'] - winter_data['started_at']).dt.total_seconds() / 60).round()

# Verify the new column
winter_data[['started_at', 'ended_at', 'trip_duration_minutes']].head()

               started_at                ended_at  trip_duration_minutes
0 2024-01-22 18:43:19.012 2024-01-22 18:48:10.708                    5.0
1 2024-01-11 19:19:18.721 2024-01-11 19:47:36.007                   28.0
2 2024-01-30 19:17:41.693 2024-01-30 19:32:49.857                   15.0
3 2024-01-27 11:27:01.759 2024-01-27 11:38:01.213                   11.0
4 2024-01-16 15:15:41.000 2024-01-16 15:29:26.156                   14.0

Ensure consistent station names

In [62]:
# Identify unique station names 
unique_start_names = winter_data['start_station_name'].unique()
unique_end_names = winter_data['end_station_name'].unique()
print("Unique Start Station Names:", unique_start_names)
print("Unique End Station Names:", unique_end_names)

Unique Start Station Names: ['Frederick Douglass Blvd & W 145 St' 'W 54 St & 6 Ave' 'E 11 St & Ave B'
 ... 'Montgomery St' '8 St & Washington St' 'Pershing Field']
Unique End Station Names: ['St Nicholas Ave & W 126 St' 'E 74 St & 1 Ave' 'W 10 St & Washington St'
 ... 'Communipaw & Berry Lane' 'Hoboken Terminal - Hudson St & Hudson Pl'
 'Christ Hospital']

In [63]:
# Identify number of unique station names 
nunique_start_names = winter_data['start_station_name'].nunique()
nunique_end_names = winter_data['end_station_name'].nunique()
nunique_start_ids = winter_data['start_station_id'].nunique()
nunique_end_ids = winter_data['end_station_id'].nunique()

print(f"Unique start station IDs: {nunique_start_ids}")
print(f"Unique end station IDs: {nunique_end_ids}")
print(f"Unique start station names: {nunique_start_names}")
print(f"Unique end station names: {nunique_end_names}")

Unique start station IDs: 4293
Unique end station IDs: 2967
Unique start station names: 2154
Unique end station names: 2192

In [64]:
# Convert station names to uppercase to ensure consistency
winter_data['start_station_name'] = winter_data['start_station_name'].str.upper()
winter_data['end_station_name'] = winter_data['end_station_name'].str.upper()

In [65]:
# Identify number of unique station names 
unique_start_names = winter_data['start_station_name'].nunique()
unique_end_names = winter_data['end_station_name'].nunique()
unique_start_ids = winter_data['start_station_id'].nunique()
unique_end_ids = winter_data['end_station_id'].nunique()

print(f"Unique start station IDs: {unique_start_ids}")
print(f"Unique end station IDs: {unique_end_ids}")
print(f"Unique start station names: {unique_start_names}")
print(f"Unique end station names: {unique_end_names}")

Unique start station IDs: 4293
Unique end station IDs: 2967
Unique start station names: 2154
Unique end station names: 2192

In [66]:
# Find station names with "Ave" vs "Avenue", "St" vs "Street", etc.
ave_names = winter_data[winter_data['start_station_name'].str.contains(r'\bAVENUE\b', case=False, na=False)]['start_station_name'].unique()
st_names = winter_data[winter_data['start_station_name'].str.contains(r'\bSTREET\b', case=False, na=False)]['start_station_name'].unique()
rd_names = winter_data[winter_data['start_station_name'].str.contains(r'\bROAD\b', case=False, na=False)]['start_station_name'].unique()
dr_names = winter_data[winter_data['start_station_name'].str.contains(r'\bDRIVE\b', case=False, na=False)]['start_station_name'].unique()
period_names = winter_data[winter_data['start_station_name'].str.contains(r'\.', na=False)]['start_station_name'].unique()

print("Stations with 'Ave':", ave_names)
print(len(ave_names))
print("Stations with 'St':", st_names)
print(len(st_names))
print("Stations with 'Road:'", rd_names)
print(len(rd_names))
print("Stations with '.'", period_names)
print(len(period_names))
print("Stations with '.'", dr_names)
print(len(dr_names))

Stations with 'Ave': []
0
Stations with 'St': []
0
Stations with 'Road:' ['4 AVE & SHORE ROAD DR']
1
Stations with '.' ['PARK PL & THOMAS S. BOYLAND ST' 'THOMAS S. BOYLAND ST & MACON ST'
 'THOMAS S. BOYLAND ST & MARION ST' 'CATON AVE & ST. PAULS PL'
 'THOMAS S. BOYLAND ST & FULTON ST' 'PACIFIC ST & THOMAS S. BOYLAND ST'
 'ST MARKS AVE & THOMAS S. BOYLAND ST']
7
Stations with '.' ['WEST DRIVE & PROSPECT PARK WEST' 'FDR DRIVE & E 35 ST']
2

In [67]:
# Standardize common abbreviations
winter_data['start_station_name'] = winter_data['start_station_name'].str.replace(r'\bAVENUE\b', 'AVE', regex=True)
winter_data['start_station_name'] = winter_data['start_station_name'].str.replace(r'\bSTREET\b', 'ST', regex=True)
winter_data['start_station_name'] = winter_data['start_station_name'].str.replace(r'\bROAD\b', 'RD', regex=True)
winter_data['start_station_name'] = winter_data['start_station_name'].str.replace(r'\bPLACE\b', 'PL', regex=True)

winter_data['end_station_name'] = winter_data['end_station_name'].str.replace(r'\bAVENUE\b', 'AVE', regex=True)
winter_data['end_station_name'] = winter_data['end_station_name'].str.replace(r'\bSTREET\b', 'ST', regex=True)
winter_data['end_station_name'] = winter_data['end_station_name'].str.replace(r'\bROAD\b', 'RD', regex=True)
winter_data['end_station_name'] = winter_data['end_station_name'].str.replace(r'\bPLACE\b', 'PL', regex=True)

In [68]:
# Remove periods from station names
winter_data['start_station_name'] = winter_data['start_station_name'].str.replace('.', '', regex=False)
winter_data['end_station_name'] = winter_data['end_station_name'].str.replace('.', '', regex=False)

In [69]:
# Identify number of unique station names 
unique_start_names = winter_data['start_station_name'].nunique()
unique_end_names = winter_data['end_station_name'].nunique()
unique_start_ids = winter_data['start_station_id'].nunique()
unique_end_ids = winter_data['end_station_id'].nunique()

print(f"Unique start station IDs: {unique_start_ids}")
print(f"Unique end station IDs: {unique_end_ids}")
print(f"Unique start station names: {unique_start_names}")
print(f"Unique end station names: {unique_end_names}")

Unique start station IDs: 4293
Unique end station IDs: 2967
Unique start station names: 2154
Unique end station names: 2192

Standarize Station Coordinates

In [70]:
# Step 1: Calculate the mean coordinates for each start station name
# Group by start_station_name and calculate the average coordinates
station_coords = winter_data.groupby('start_station_name')[['start_lat', 'start_lng']].mean()
station_coords = station_coords.rename(columns={'start_lat': 'standardized_start_lat', 'start_lng': 'standardized_start_lng'})

# Display the standardized coordinates
print(station_coords.head())

# Step 2: Map these standardized coordinates back to the main dataframe
# Map the standardized coordinates to the 'start_station_name' and 'end_station_name'
winter_data = winter_data.merge(station_coords, how='left', left_on='start_station_name', right_index=True)

# Repeat the process to get the standardized coordinates for end stations
end_station_coords = winter_data.groupby('end_station_name')[['end_lat', 'end_lng']].mean()
end_station_coords = end_station_coords.rename(columns={'end_lat': 'standardized_end_lat', 'end_lng': 'standardized_end_lng'})

# Map the standardized coordinates to the main dataframe
winter_data = winter_data.merge(end_station_coords, how='left', left_on='end_station_name', right_index=True)

# Display a preview to confirm that standardized coordinates are added
print(winter_data[['start_station_name', 'standardized_start_lat', 'standardized_start_lng', 
                   'end_station_name', 'standardized_end_lat', 'standardized_end_lng']].head())

                    standardized_start_lat  standardized_start_lng
start_station_name
1 AVE & E 110 ST                 40.792156              -73.938328
1 AVE & E 16 ST                  40.732231              -73.981666
1 AVE & E 18 ST                  40.733951              -73.980501
1 AVE & E 30 ST                  40.741504              -73.975346
1 AVE & E 39 ST                  40.747233              -73.971114
                   start_station_name  standardized_start_lat  \
0  FREDERICK DOUGLASS BLVD & W 145 ST               40.822975
1                     W 54 ST & 6 AVE               40.761691
2                     E 11 ST & AVE B               40.727563
3                     W 54 ST & 6 AVE               40.761691
4               MADISON AVE & E 99 ST               40.789558

   standardized_start_lng            end_station_name  standardized_end_lat  \
0              -73.941848  ST NICHOLAS AVE & W 126 ST             40.811432
1              -73.977316             E 74 ST & 1 AVE             40.768974
2              -73.979621     W 10 ST & WASHINGTON ST             40.733424
3              -73.977316             E 74 ST & 1 AVE             40.768974
4              -73.952336             E 74 ST & 1 AVE             40.768974

   standardized_end_lng
0            -73.951878
1            -73.954823
2            -74.008515
3            -73.954823
4            -73.954823

In [71]:
# Check for any NaN values in the standardized columns
missing_start_coords = winter_data[['standardized_start_lat', 'standardized_start_lng']].isna().sum()
missing_end_coords = winter_data[['standardized_end_lat', 'standardized_end_lng']].isna().sum()

print("Missing standardized start coordinates:", missing_start_coords)
print("Missing standardized end coordinates:", missing_end_coords)

Missing standardized start coordinates: standardized_start_lat    0
standardized_start_lng    0
dtype: int64
Missing standardized end coordinates: standardized_end_lat    0
standardized_end_lng    0
dtype: int64

In [72]:
# Replace original coordinates with standardized coordinates for start and end stations
winter_data['start_lat'] = winter_data['standardized_start_lat']
winter_data['start_lng'] = winter_data['standardized_start_lng']
winter_data['end_lat'] = winter_data['standardized_end_lat']
winter_data['end_lng'] = winter_data['standardized_end_lng']

# Drop the standardized columns 
winter_data = winter_data.drop(columns=['standardized_start_lat', 'standardized_start_lng', 
                                        'standardized_end_lat', 'standardized_end_lng'])

# Confirm the changes 
winter_data.head()

                   start_station_name  start_lat  start_lng  \
0  FREDERICK DOUGLASS BLVD & W 145 ST  40.822975 -73.941848
1                     W 54 ST & 6 AVE  40.761691 -73.977316
2                     E 11 ST & AVE B  40.727563 -73.979621
3                     W 54 ST & 6 AVE  40.761691 -73.977316
4               MADISON AVE & E 99 ST  40.789558 -73.952336

             end_station_name    end_lat    end_lng
0  ST NICHOLAS AVE & W 126 ST  40.811432 -73.951878
1             E 74 ST & 1 AVE  40.768974 -73.954823
2     W 10 ST & WASHINGTON ST  40.733424 -74.008515
3             E 74 ST & 1 AVE  40.768974 -73.954823
4             E 74 ST & 1 AVE  40.768974 -73.954823

In [100]:
winter_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,member_casual,day,month,hour,weekday,end_day,end_month,end_hour,end_weekday,trip_duration_minutes
0,5078F3D302000BD2,electric_bike,2024-01-22 18:43:19.012,2024-01-22 18:48:10.708,FREDERICK DOUGLASS BLVD & W 145 ST,7954.12,ST NICHOLAS AVE & W 126 ST,7756.10,40.822975,-73.941848,...,member,22,1,18,0,22,1,18,0,5.0
1,814337105D37302A,electric_bike,2024-01-11 19:19:18.721,2024-01-11 19:47:36.007,W 54 ST & 6 AVE,6771.13,E 74 ST & 1 AVE,6953.08,40.761691,-73.977316,...,member,11,1,19,3,11,1,19,3,28.0
2,A33A920E2B10710C,electric_bike,2024-01-30 19:17:41.693,2024-01-30 19:32:49.857,E 11 ST & AVE B,5659.11,W 10 ST & WASHINGTON ST,5847.06,40.727563,-73.979621,...,casual,30,1,19,1,30,1,19,1,15.0
3,A3A5FC0DD7D34D74,electric_bike,2024-01-27 11:27:01.759,2024-01-27 11:38:01.213,W 54 ST & 6 AVE,6771.13,E 74 ST & 1 AVE,6953.08,40.761691,-73.977316,...,member,27,1,11,5,27,1,11,5,11.0
4,6F96728ECEFBDAA4,electric_bike,2024-01-16 15:15:41.000,2024-01-16 15:29:26.156,MADISON AVE & E 99 ST,7443.01,E 74 ST & 1 AVE,6953.08,40.789558,-73.952336,...,member,16,1,15,1,16,1,15,1,14.0

In [101]:
winter_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3997966 entries, 0 to 3997965
Data columns (total 22 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ride_id                object
 1   rideable_type          object
 2   started_at             datetime64[ns]
 3   ended_at               datetime64[ns]
 4   start_station_name     object
 5   start_station_id       object
 6   end_station_name       object
 7   end_station_id         object
 8   start_lat              float64
 9   start_lng              float64
 10  end_lat                float64
 11  end_lng                float64
 12  member_casual          object
 13  day                    int32
 14  month                  int32
 15  hour                   int32
 16  weekday                int32
 17  end_day                int32
 18  end_month              int32
 19  end_hour               int32
 20  end_weekday            int32
 21  trip_duration_minutes  float64
dtypes: datetime64[ns](2), float64(5), int32(8), object(7)
memory usage: 549.0+ MB

Total Number of Rides per Start Station

In [73]:
# Total number of rides per start station
rides_per_start_station = winter_data.groupby('start_station_name')['ride_id'].count().reset_index()
rides_per_start_station.columns = ['start_station_name', 'total_rides_start']

Start Station Rank Based on Total Number of Rides

In [74]:
# Start station rank based on total rides
rides_per_start_station['start_station_rank'] = rides_per_start_station['total_rides_start'].rank(
    method='dense', ascending=False
).astype(int)

 Total Number of Rides per End Station

In [75]:
# Total number of rides per end station
rides_per_end_station = winter_data.groupby('end_station_name')['ride_id'].count().reset_index()
rides_per_end_station.columns = ['end_station_name', 'total_rides_end']

In [ ]:
End Station Rank Based on Total Number of Rides

In [76]:
# End station rank based on total rides
rides_per_end_station['end_station_rank'] = rides_per_end_station['total_rides_end'].rank(
    method='dense', ascending=False
).astype(int)

Most Popular End Station for Each Start Station

In [77]:
# Most popular end station for each start station
popular_end_station = winter_data.groupby(['start_station_name', 'end_station_name'])['ride_id'].count()
popular_end_station = popular_end_station.reset_index().rename(columns={'ride_id': 'ride_count'})
popular_end_station = popular_end_station.loc[popular_end_station.groupby('start_station_name')['ride_count'].idxmax()]
popular_end_station = popular_end_station[['start_station_name', 'end_station_name']]
popular_end_station.columns = ['start_station_name', 'most_popular_end_station']

Most Popular Day of the Week per Start Station

In [78]:
# Most popular day of the week per start station
popular_day_start = winter_data.groupby(['start_station_name', 'weekday'])['ride_id'].count()
popular_day_start = popular_day_start.reset_index().rename(columns={'ride_id': 'ride_count'})
popular_day_start = popular_day_start.loc[popular_day_start.groupby('start_station_name')['ride_count'].idxmax()]
popular_day_start = popular_day_start[['start_station_name', 'weekday']]
popular_day_start.columns = ['start_station_name', 'most_popular_day_start']

 Most Popular Day of the Week per End Station

In [79]:
# Most popular day of the week per end station
popular_day_end = winter_data.groupby(['end_station_name', 'weekday'])['ride_id'].count()
popular_day_end = popular_day_end.reset_index().rename(columns={'ride_id': 'ride_count'})
popular_day_end = popular_day_end.loc[popular_day_end.groupby('end_station_name')['ride_count'].idxmax()]
popular_day_end = popular_day_end[['end_station_name', 'weekday']]
popular_day_end.columns = ['end_station_name', 'most_popular_day_end']

 Most Popular Hour of the Day per Start Station

In [80]:
# Most popular hour of the day per start station
popular_hour_start = winter_data.groupby(['start_station_name', 'hour'])['ride_id'].count()
popular_hour_start = popular_hour_start.reset_index().rename(columns={'ride_id': 'ride_count'})
popular_hour_start = popular_hour_start.loc[popular_hour_start.groupby('start_station_name')['ride_count'].idxmax()]
popular_hour_start = popular_hour_start[['start_station_name', 'hour']]
popular_hour_start.columns = ['start_station_name', 'most_popular_hour_start']

Most Popular Hour of the Day per End Station

In [81]:
# Most popular hour of the day per end station
popular_hour_end = winter_data.groupby(['end_station_name', 'hour'])['ride_id'].count()
popular_hour_end = popular_hour_end.reset_index().rename(columns={'ride_id': 'ride_count'})
popular_hour_end = popular_hour_end.loc[popular_hour_end.groupby('end_station_name')['ride_count'].idxmax()]
popular_hour_end = popular_hour_end[['end_station_name', 'hour']]
popular_hour_end.columns = ['end_station_name', 'most_popular_hour_end']

 Average Trip Duration for Each Start Station

In [82]:
# Average trip duration per start station
avg_duration_start_station = winter_data.groupby('start_station_name')['trip_duration_minutes'].mean().reset_index()
avg_duration_start_station.columns = ['start_station_name', 'average_trip_duration_start']
avg_duration_start_station['average_trip_duration_start'] = avg_duration_start_station['average_trip_duration_start'].round(2)

Station Breakdown

In [102]:
# Merge all metrics into a single DataFrame
user_type_analysis = rides_per_start_station.merge(
    rides_per_end_station, left_on='start_station_name', right_on='end_station_name', how='outer'
).merge(
    popular_end_station, on='start_station_name', how='outer'
).merge(
    popular_day_start, on='start_station_name', how='outer'
).merge(
    popular_day_end, left_on='end_station_name', right_on='end_station_name', how='outer'
).merge(
    popular_hour_start, on='start_station_name', how='outer'
).merge(
    popular_hour_end, left_on='end_station_name', right_on='end_station_name', how='outer'
).merge(
    avg_duration_start_station, on='start_station_name', how='outer'
)

# Fill any NaN values (optional)
user_type_analysis = user_type_analysis.fillna('N/A')

# Display the result using standard Pandas display
user_type_analysis.head()

,start_station_name,total_rides_start,start_station_rank,end_station_name,total_rides_end,end_station_rank,most_popular_end_station,most_popular_day_start,most_popular_day_end,most_popular_hour_start,most_popular_hour_end,average_trip_duration_start
0,1 AVE & E 110 ST,2426.0,552.0,1 AVE & E 110 ST,2452.0,548.0,LEXINGTON AVE & E 111 ST,3.0,2.0,17.0,15.0,10.94
1,1 AVE & E 16 ST,7398.0,85.0,1 AVE & E 16 ST,7327.0,89.0,E 23 ST & 1 AVE,3.0,3.0,9.0,17.0,8.11
2,1 AVE & E 18 ST,8351.0,52.0,1 AVE & E 18 ST,8358.0,50.0,1 AVE & E 16 ST,3.0,3.0,8.0,17.0,9.02
3,1 AVE & E 30 ST,6267.0,136.0,1 AVE & E 30 ST,6313.0,138.0,W 31 ST & 7 AVE,3.0,3.0,16.0,6.0,10.42
4,1 AVE & E 39 ST,9297.0,28.0,1 AVE & E 39 ST,9315.0,28.0,1 AVE & E 44 ST,3.0,3.0,8.0,17.0,11.21

In [106]:
user_type_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2195 entries, 0 to 2194
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   start_station_name           2195 non-null   object
 1   total_rides_start            2195 non-null   object
 2   start_station_rank           2195 non-null   object
 3   end_station_name             2195 non-null   object
 4   total_rides_end              2195 non-null   object
 5   end_station_rank             2195 non-null   object
 6   most_popular_end_station     2195 non-null   object
 7   most_popular_day_start       2195 non-null   object
 8   most_popular_day_end         2195 non-null   object
 9   most_popular_hour_start      2195 non-null   object
 10  most_popular_hour_end        2195 non-null   object
 11  average_trip_duration_start  2195 non-null   object
dtypes: object(12)
memory usage: 205.9+ KB

In [104]:
user_type_analysis.describe()

,start_station_name,total_rides_start,start_station_rank,end_station_name,total_rides_end,end_station_rank,most_popular_end_station,most_popular_day_start,most_popular_day_end,most_popular_hour_start,most_popular_hour_end,average_trip_duration_start
count,2195,2195,2195,2195,2195.0,2195.0,2195,2195.0,2195.0,2195.0,2195.0,2195
unique,2155,1551,1551,2193,1541.0,1541.0,969,8.0,8.0,24.0,24.0,783
top,N/A,N/A,N/A,N/A,1.0,1540.0,N/A,3.0,3.0,17.0,17.0,N/A
freq,41,41,41,3,19.0,19.0,41,1135.0,1151.0,456.0,604.0,41

In [108]:
# Replace 'N/A' with 0 in relevant columns
user_type_analysis[['total_rides_start', 'start_station_rank', 'total_rides_end', 'end_station_rank', 'average_trip_duration_start']] = (
    user_type_analysis[['total_rides_start', 'start_station_rank', 'total_rides_end', 'end_station_rank', 'average_trip_duration_start']]
    .replace("N/A", 0)
    .astype(int)
)

/var/folders/w1/kv9m74sx7rn3jh6fkm7wrzrc0000gp/T/ipykernel_18470/1225792517.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .replace("N/A", 0)

In [109]:
# Convert rank and ride counts to integers
user_type_analysis['total_rides_start'] = user_type_analysis['total_rides_start'].fillna(0).astype(int)
user_type_analysis['start_station_rank'] = user_type_analysis['start_station_rank'].fillna(0).astype(int)
user_type_analysis['total_rides_end'] = user_type_analysis['total_rides_end'].fillna(0).astype(int)
user_type_analysis['end_station_rank'] = user_type_analysis['end_station_rank'].fillna(0).astype(int)

# Convert trip duration to integer if you want to round it to remove decimals
user_type_analysis['average_trip_duration_start'] = user_type_analysis['average_trip_duration_start'].round(0).astype(int)

In [110]:
# Map numbers to day names
day_mapping = {0: "Monday", 1: "Tuesday", 2: "Wednesday", 3: "Thursday", 4: "Friday", 5: "Saturday", 6: "Sunday"}
user_type_analysis['most_popular_day_start'] = user_type_analysis['most_popular_day_start'].replace(day_mapping)
user_type_analysis['most_popular_day_end'] = user_type_analysis['most_popular_day_end'].replace(day_mapping)

In [112]:
# Step 1: Convert most_popular_hour columns to 12-hour format with AM/PM
user_type_analysis['most_popular_hour_start'] = user_type_analysis['most_popular_hour_start'].apply(
    lambda x: f"{int(x % 12 if x % 12 else 12)} {'AM' if x < 12 else 'PM'}" if x != 'N/A' else 'N/A'
)
user_type_analysis['most_popular_hour_end'] = user_type_analysis['most_popular_hour_end'].apply(
    lambda x: f"{int(x % 12 if x % 12 else 12)} {'AM' if x < 12 else 'PM'}" if x != 'N/A' else 'N/A'
)

# Step 2: Remove decimals from all numeric columns by converting to integer
numeric_columns = ['total_rides_start', 'start_station_rank', 'total_rides_end', 'end_station_rank', 'average_trip_duration_start']
user_type_analysis[numeric_columns] = user_type_analysis[numeric_columns].replace("N/A", 0).astype(int)

In [120]:
import numpy as np

# Add 1 to start and end station ranks to make them start from 1
user_type_analysis['start_station_rank'] = user_type_analysis['start_station_rank'] + 1
user_type_analysis['end_station_rank'] = user_type_analysis['end_station_rank'] + 1

# Set rank to NA for stations with 0 rides
user_type_analysis.loc[user_type_analysis['total_rides_start'] == 0, 'start_station_rank'] = np.nan
user_type_analysis.loc[user_type_analysis['total_rides_end'] == 0, 'end_station_rank'] = np.nan

In [121]:
user_type_analysis.head()

,start_station_name,total_rides_start,start_station_rank,end_station_name,total_rides_end,end_station_rank,most_popular_end_station,most_popular_day_start,most_popular_day_end,most_popular_hour_start,most_popular_hour_end,average_trip_duration_start
2156,N/A,0,NaN,14 ST FERRY - 14 ST & SHIPYARD LN,59,1504.0,N/A,N/A,Wednesday,N/A,6 PM,0
2155,N/A,0,NaN,12 ST & SINATRA DR N,19,1528.0,N/A,N/A,Friday,N/A,5 PM,0
2187,N/A,0,NaN,MORRIS CANAL,19,1528.0,N/A,N/A,Thursday,N/A,4 PM,0
2189,N/A,0,NaN,PAULUS HOOK,19,1528.0,N/A,N/A,Thursday,N/A,7 PM,0
2154,N/A,0,NaN,11 ST & WASHINGTON ST,18,1529.0,N/A,N/A,Thursday,N/A,5 PM,0

In [122]:
user_type_analysis.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2195 entries, 2156 to 1637
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   start_station_name           2195 non-null   object
 1   total_rides_start            2195 non-null   int64
 2   start_station_rank           2154 non-null   float64
 3   end_station_name             2195 non-null   object
 4   total_rides_end              2195 non-null   int64
 5   end_station_rank             2192 non-null   float64
 6   most_popular_end_station     2195 non-null   object
 7   most_popular_day_start       2195 non-null   object
 8   most_popular_day_end         2195 non-null   object
 9   most_popular_hour_start      2195 non-null   object
 10  most_popular_hour_end        2195 non-null   object
 11  average_trip_duration_start  2195 non-null   int64
dtypes: float64(2), int64(3), object(7)
memory usage: 222.9+ KB

In [123]:
# Sort by start_station_rank and then by end_station_rank
top_ten_user_type_analysis = user_type_analysis.sort_values(by=['start_station_rank', 'end_station_rank'], ascending=[True, True])
top_ten_user_type_analysis.head(10)

,start_station_name,total_rides_start,start_station_rank,end_station_name,total_rides_end,end_station_rank,most_popular_end_station,most_popular_day_start,most_popular_day_end,most_popular_hour_start,most_popular_hour_end,average_trip_duration_start
1969,W 21 ST & 6 AVE,17871,3.0,W 21 ST & 6 AVE,17916,3.0,9 AVE & W 22 ST,Thursday,Thursday,6 PM,5 PM,9
8,1 AVE & E 68 ST,13915,4.0,1 AVE & E 68 ST,13996,4.0,E 68 ST & 3 AVE,Thursday,Thursday,5 PM,8 AM,12
442,8 AVE & W 31 ST,13739,5.0,8 AVE & W 31 ST,13726,5.0,W 45 ST & 8 AVE,Thursday,Thursday,7 AM,4 PM,11
1386,LAFAYETTE ST & E 8 ST,13032,6.0,LAFAYETTE ST & E 8 ST,13150,6.0,E 10 ST & AVE A,Thursday,Thursday,6 PM,5 PM,9
1989,W 31 ST & 7 AVE,12625,7.0,W 31 ST & 7 AVE,12696,7.0,E 33 ST & 1 AVE,Thursday,Thursday,5 PM,4 PM,10
659,BROADWAY & W 25 ST,12612,8.0,BROADWAY & W 25 ST,12672,8.0,W 25 ST & 9 AVE,Thursday,Thursday,5 PM,8 AM,10
551,AVE A & E 14 ST,12498,9.0,AVE A & E 14 ST,12492,9.0,E 11 ST & AVE B,Thursday,Thursday,6 PM,5 PM,7
1027,E 33 ST & 1 AVE,11891,10.0,E 33 ST & 1 AVE,11927,10.0,W 31 ST & 7 AVE,Thursday,Thursday,8 AM,6 AM,10
2003,W 41 ST & 8 AVE,11636,11.0,W 41 ST & 8 AVE,11728,11.0,E 48 ST & 5 AVE,Thursday,Wednesday,6 AM,2 PM,10
669,BROADWAY & W 58 ST,11446,12.0,BROADWAY & W 58 ST,11483,13.0,BROADWAY & W 58 ST,Thursday,Thursday,5 PM,5 PM,12

In [124]:
# Sort by start_station_rank in descending order
bottom_ten_user_type_analysis = user_type_analysis.sort_values(by='start_station_rank', ascending=False)
bottom_ten_user_type_analysis.head(10)

,start_station_name,total_rides_start,start_station_rank,end_station_name,total_rides_end,end_station_rank,most_popular_end_station,most_popular_day_start,most_popular_day_end,most_popular_hour_start,most_popular_hour_end,average_trip_duration_start
1637,PERSHING FIELD,1,1552.0,PERSHING FIELD,1,1542.0,SOUTHWEST PARK - JACKSON ST & OBSERVER HWY,Monday,Monday,1 PM,11 AM,5
1356,JOURNAL SQUARE,1,1552.0,JOURNAL SQUARE,1,1542.0,MONMOUTH AND 6TH,Thursday,Tuesday,7 PM,6 PM,5
566,BALDWIN AT MONTGOMERY,1,1552.0,BALDWIN AT MONTGOMERY,1,1542.0,HARBORSIDE,Sunday,Sunday,7 AM,4 AM,8
1791,SOUTHWEST PARK - JACKSON ST & OBSERVER HWY,1,1552.0,SOUTHWEST PARK - JACKSON ST & OBSERVER HWY,3,1540.0,8 ST & WASHINGTON ST,Monday,Monday,1 PM,8 AM,7
1698,RIVER ST & 1 ST,1,1552.0,RIVER ST & 1 ST,3,1540.0,4 ST & GRAND ST,Monday,Friday,5 PM,3 PM,4
57,190 MORGAN,1,1552.0,190 MORGAN,3,1540.0,MONTROSE AVE & BUSHWICK AVE,Friday,Monday,12 PM,9 AM,4
1277,GROVE ST PATH,1,1552.0,GROVE ST PATH,7,1536.0,HAMILTON PARK,Thursday,Thursday,6 PM,6 PM,5
448,8 ST & WASHINGTON ST,1,1552.0,8 ST & WASHINGTON ST,12,1532.0,RIVER ST & 1 ST,Monday,Thursday,3 PM,6 PM,13
1523,MONTGOMERY ST,1,1552.0,MONTGOMERY ST,18,1529.0,HARBORSIDE,Thursday,Tuesday,6 PM,5 PM,7
1406,LEONARD GORDON PARK,1,1552.0,N/A,0,NaN,PERSHING FIELD,Monday,N/A,11 AM,N/A,2